body {
  position: relative;
  overflow-x: hidden;
}
body > .container, .page-header .container, .page-footer .container {
  min-width: 1200px;
}
body,
html {
  height: 100%;
  color: #333745;
  background-color: #fff;
	font-size: 15px;
	line-height: 22px;
  font-family: 'Roboto', sans-serif;
} 
body,
html,
.container-fluid {
  min-width: 1200px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	vertical-align: inherit;
}

blockquote {
	font-size: 18px;
	line-height: 26px;	
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 15px;
}
h2.dark {
 color: #333745;
 border-bottom: 1px solid #ccc;
   font-size: 30px;
   padding-bottom: 10px;
}
.nav .open > a {
  background-color: transparent;
}
.nav .open > a:hover {
  background-color: transparent;
}
.nav .open > a:focus {
  background-color: transparent;
}
h2 {
	color: #f82e56; 
  font-size: 24px;
}
a, a:visited, a:hover {
	color: #f82e56;
}
.btn, .btn:focus, .btn:visited, .btn:active {
	background: #f82e56;
	color: #fff;
	border: 1px solid #f82e56;
	transition: all 0.2s ease;
}
.btn:hover {
	background: #fff;
	color: #f82e56;
}
#page-content-wrapper {
  padding-top: 120px;
}
.sidebar-nav {
	margin-top: 120px;
	overflow-y: auto;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
	  background: #333745;
    width: 300px;
}

.sidebar-nav li {
  display: inline-block;
  line-height: 20px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #3f4352;
}
.sidebar-nav li a {
  position: relative;
  background-color: #333745;
  color: #f7f7f7;
  display: block;
  padding: 10px 10px 10px 12px;
	font-size: 15px;
	font-weight: 300;
  text-decoration: none;
	border-left: 4px solid #333745;
  	-webkit-transition: all 0.2s ease;
  	-o-transition: all 0.2s ease;
  	transition: all 0.2s ease;
}
.sidebar-nav li a .fa {
	padding-right: 7px;
}
.sidebar-nav li a:hover, .sidebar-nav li a.active, .sidebar-nav li a:focus  {
	background-color: #333745;
    color: #f9496c;
	border-color:#f82e56;
}
.sidebar-nav li .toggle {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    cursor: pointer;
    width: 40px;
    height: 40px;
	font-size: 20px;
	font-weight: 300;
    line-height: 40px;
	text-align: center;
    color: #ffffff;
}

.sidebar-nav .submenu {
	display: none;
  background-color: #434857;
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
} 
.sidebar-nav li .submenu a {
	background-color: #434857;
	border-color: #434857;
	padding: 8px 8px 8px 36px;
}
.sidebar-nav li .submenu .submenu {
	display: block;
}
.sidebar-nav li .submenu .submenu a {
	padding: 8px 8px 8px 60px;
}
.sidebar-nav li .submenu a.active, .sidebar-nav li .submenu a:hover, .sidebar-nav li .submenu a:focus {
	background-color: #434857;
	border-color: #434857;
}

section {
	overflow: hidden;
	margin-bottom: 50px;
}
.content {
	padding: 0;
}
.page-header {
	background: #ffffff;
	z-index: 10000;
	height: 80px;
	margin: 0 0 48px;
	box-shadow: 0 4px 4px -2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 4px 4px -2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 4px 4px -2px rgba(0,0,0,0.2);
}
.navbar-header {
	width: 100%;
}
.logo {
	float: left;
	padding-top: 4px;
	width:280px;
  text-align: center;
}
.logo img {
	max-width: 100%;
}
.page-footer .logo img {
	max-width: 130px;
}
.header-link, .footer-link {
	float: right;
	text-align: right;
	padding-top: 30px;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	width: calc(75%);
}
.footer-link {
	padding-top: 20px;
}
.header-link > div, .footer-link > div {
	display: inline-block;
	vertical-align: top;
	margin: 0 -4px 0 25px;
}
.header-link .time, .footer-link .time {
	color: #f82e56;
}
.header-link a, .footer-link a {
	color: #333745;
}
.header-link .fa, .footer-link .fa {
	padding-right: 5px;
}
.header-link a:hover, .footer-link a:hover {
	color: #f82e56;
	text-decoration: none;
  	-webkit-transition: all 0.2s ease;
  	-o-transition: all 0.2s ease;
  	transition: all 0.2s ease;
}
.page-footer {
	background: #ffffff;
	margin: 0;
	position: relative;
	z-index: 10000;
	height: 60px;
}

@media (min-width: 979px) {  
  #sidebar {
    position: fixed;
    margin-left: -15px;
  }
}

.list-social {
	margin-top: -10px !important;
}
.list-social a  {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  color: #f82e56;
}
.list-social a:hover {
  color: #333745;
}
.list-social a:hover i.fa.icon-circled {
  color: #ffffff;
  background-color: #f82e56;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.list-social i.fa {
  font-size: 20px;
  line-height: 30px;
  padding: 0;
}
.list-social i.fa.icon-circled {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  border: 1px solid #f82e56;
  vertical-align: top;
  margin-right: -4px;
  text-align: center;
}
.syntaxhighlighter, .syntaxhighlighter table {
    overflow: hidden!important;
}
code {
    padding: 2px 4px;
    font-size: 0.9em;
    color: #b7092b;
    background-color: rgba(248, 46, 86, 0.08);
    border-radius: 3px;
}
.bootstrap-grid .row {
margin: 0;
}
.bootstrap-grid [class^=col-], .bootstrap-grid .show-grid [class^=col_] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #d3d8dc;
    border: 1px solid #7b7e80;
    white-space: nowrap;
    overflow: hidden;
}       
.col-left {
  width: 320px; 
  float: left;
  padding: 0 15px;
}
.col-center {
  width: calc(100% - 320px); 
  float: right;
  padding: 0 15px;
}
.collapse.navbar-collapse {
  display: block !important;
}