<main class="page-main">
  <div class="block fullwidth fullheight page_404">
    <div class="container">
      <div class="image-404">
        <img src="images/404.png" alt="">
        <div class="text-404">The page cannot be found</div>
      </div>
      <div><a href="#" class="btn">Return Back</a></div>
    </div>
  </div>
</main>
