<main class="page-main">
  <div class="block">
    <div class="container">
      <ul class="breadcrumbs">
        <li><a href="index.html"><i class="icon icon-home"></i></a></li>
        <li>/<span>WOMEN’S</span></li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3 filter-col aside">
        <div class="fixed-wrapper">
          <div class="fixed-scroll">
            <div class="filter-col-header">
              <div class="title">Filters</div>
              <a href="#" class="filter-col-toggle"></a>
            </div>
            <div class="filter-col-content">
              <div class="sidebar-block-top">
                <h2>Shoping By</h2>
                <ul class="selected-filters">
                  <li class="block-loading">
                    <a href="#"><span>Trousers</span><span class="remove"><i class="icon icon-close"></i></span></a>
                    <div class="bg-striped"></div>
                  </li>
                  <li>
                    <a href="#"><span>Orange <img src="images/colorswatch/color-orange.png" alt=""></span><span class="remove"><i class="icon icon-close"></i></span></a>
                    <div class="bg-striped"></div>
                  </li>
                  <li>
                    <a href="#"><span>Cavalli</span><span class="remove"><i class="icon icon-close"></i></span></a>
                    <div class="bg-striped"></div>
                  </li>
                  <li>
                    <a href="#"><span>$10-30$</span><span class="remove"><i class="icon icon-close"></i></span></a>
                    <div class="bg-striped"></div>
                  </li>
                  <li>
                    <a href="#"><span>Size 36</span><span class="remove"><i class="icon icon-close"></i></span></a>
                    <div class="bg-striped"></div>
                  </li>
                </ul>
              </div>
              <div class="sidebar-block collapsed open">
                <div class="block-title">
                  <span>Men</span>
                  <div class="toggle-arrow"></div>
                </div>
                <div class="block-content">
                  <ul class="category-list">
                    <li><a href="#" class="value">Dresses</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">Jackets</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">Trousers</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">Jeans</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">Jewellery</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">Scarves & snoods</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">Sunglasses</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">Blouses & shirts</a>
                      <a href="#" class="clear"></a>
                    </li>
                  </ul>
                  <div class="bg-striped"></div>
                </div>
              </div>
              <div class="sidebar-block collapsed">
                <div class="block-title">
                  <span>Women</span>
                  <div class="toggle-arrow"></div>
                </div>
                <div class="block-content">
                  <ul class="category-list">
                    <li class="active"><a href="#" class="value">Dresses</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">Jackets</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">Trousers</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">Jeans</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">Jewellery</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">Scarves & snoods</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">Sunglasses</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">Blouses & shirts</a>
                      <a href="#" class="clear"></a>
                    </li>
                  </ul>
                  <div class="bg-striped"></div>
                </div>
              </div>
              <div class="sidebar-block collapsed">
                <div class="block-title">
                  <span>CHOOSE COLOR</span>
                  <div class="toggle-arrow"></div>
                </div>
                <div class="block-content">
                  <ul class="color-list">
                    <li class="active"><a href="#" data-tooltip="Very long some color name" title="Very long some color name"><span class="clear"></span><span class="value"><img src="images/colorswatch/color-red.png" alt=""></span></a></li>
                    <li><a href="#" data-tooltip="Pink" title="Pink"><span class="clear"></span><span class="value"><img src="images/colorswatch/color-pink.png" alt=""></span></a></li>
                    <li><a href="#" data-tooltip="Violet" title="Violet"><span class="clear"></span><span class="value"><img src="images/colorswatch/color-violet.png" alt=""></span></a></li>
                    <li><a href="#" data-tooltip="Blue" title="Blue"><span class="clear"></span><span class="value"><img src="images/colorswatch/color-blue.png" alt=""></span></a></li>
                    <li><a href="#" data-tooltip="Marine" title="Marine"><span class="clear"></span><span class="value"><img src="images/colorswatch/color-marine.png" alt=""></span></a></li>
                    <li><a href="#" data-tooltip="Orange" title="Orange"><span class="clear"></span><span class="value"><img src="images/colorswatch/color-orange.png" alt=""></span></a></li>
                    <li><a href="#" data-tooltip="Yellow" title="Yellow"><span class="clear"></span><span class="value"><img src="images/colorswatch/color-yellow.png" alt=""></span></a></li>
                    <li><a href="#" data-tooltip="Dark Yellow" title="Dark Yellow"><span class="clear"></span><span class="value"><img src="images/colorswatch/color-darkyellow.png" alt=""></span></a></li>
                    <li><a href="#" data-tooltip="Very long some color name" title="Very long some color name"><span class="clear"></span><span class="value"><img src="images/colorswatch/color-black.png" alt=""></span></a></li>
                    <li><a href="#" data-tooltip="White" title="White"><span class="clear"></span><span class="value"><img src="images/colorswatch/color-white.png" alt=""></span></a></li>
                  </ul>
                  <div class="bg-striped"></div>
                </div>
              </div>
              <div class="sidebar-block collapsed">
                <div class="block-title">
                  <span>Brands</span>
                  <div class="toggle-arrow"></div>
                </div>
                <div class="block-content">
                  <ul class="category-list">
                    <li><a href="#" class="value">Dresses</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">Jackets</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li class="active"><a href="#">Trousers</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">Jeans</a>
                      <a href="#" class="clear"></a>
                    </li>
                  </ul>
                  <div class="bg-striped"></div>
                </div>
              </div>
              <div class="sidebar-block collapsed">
                <div class="block-title">
                  <span>Price</span>
                  <div class="toggle-arrow"></div>
                </div>
                <div class="block-content">
                  <ul class="category-list">
                    <li><a href="#">$10-$30</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li class="active"><a href="#">$30-$60</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">$60-$120</a>
                      <a href="#" class="clear"></a>
                    </li>
                  </ul>
                  <div class="price-slider-wrapper">
                    <div class="price-values">
                      <div class="pull-left">$<span id="priceMin"></span></div>
                      <div class="pull-right">$<span id="priceMax"></span></div>
                    </div>
                    <div id="priceSlider" class="price-slider"></div>
                  </div>
                  <div class="bg-striped"></div>
                </div>
              </div>
              <div class="sidebar-block collapsed">
                <div class="block-title">
                  <span>Size</span>
                  <div class="toggle-arrow"></div>
                </div>
                <div class="block-content">
                  <ul class="size-list">
                    <li class="active"><a href="#"><span class="clear"></span><span class="value">38</span></a></li>
                    <li><a href="#"><span class="clear"></span><span class="value">38</span></a></li>
                    <li><a href="#"><span class="clear"></span><span class="value">40</span></a></li>
                    <li><a href="#"><span class="clear"></span><span class="value">42</span></a></li>
                  </ul>
                  <div class="bg-striped"></div>
                </div>
              </div>
              <div class="sidebar-block collapsed block-loading">
                <div class="block-title">
                  <span>Tags</span>
                  <div class="toggle-arrow"></div>
                </div>
                <div class="block-content">
                  <ul class="tags">
                    <li class="active"><a href="#"><span class="clear"></span><span class="value"><span>Dresses</span></span></a></li>
                    <li><a href="#"><span class="clear"></span><span class="value"><span>Outerwear</span></span></a></li>
                    <li><a href="#"><span class="clear"></span><span class="value"><span>Tops</span></span></a></li>
                    <li><a href="#"><span class="clear"></span><span class="value"><span>Sleeveless tops</span></span></a></li>
                    <li><a href="#"><span class="clear"></span><span class="value"><span>Sweaters</span></span></a></li>
                  </ul>
                  <div class="bg-striped"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-9 aside">
        <div class="page-title">
          <div class="title center">
            <h1>WOMEN’S</h1>
          </div>
        </div>

        {{!--<div class="row">
          <div class="col-sm-6">
            <a href="#" class="banner-wrap">
              <div class="banner style-9 autosize-text image-hover-scale" data-fontratio="6.4">
                <img src="images/banners/banner-category-1.jpg" alt="Banner">
                <div class="banner-caption vertb">
                  <div class="vert-wrapper">
                    <div class="vert">
                      <div class="text-1 text-hoverslide" data-hcolor="#ffffff"><span><span class="text">Brands favorite women</span><span class="hoverbg"></span></span>
                      </div>
                      <div class="text-2">Minus id quod maxime placeat facere possimus omnis voluptas assumenda</div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-6">
            <a href="#" class="banner-wrap">
              <div class="banner style-10 autosize-text image-hover-scale" data-fontratio="6.4">
                <img src="images/banners/banner-category-2.jpg" alt="Banner 2">
                <div class="banner-caption vertb horc">
                  <div class="vert-wrapper">
                    <div class="vert">
                      <div class="text-1">You deserve the best</div>
                      <div class="banner-btn text-hoverslide" data-hcolor="#f82e56"><span><span class="text">Shop Now</span><span class="hoverbg"></span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="info-block">
          <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqui.</p>
        </div>
        <div class="categories">
          <div class="row">
            <div class="col-xs-6 col-sm-3">
              <a href="#" class="category-block">
                <div class="category-image">
                  <img src="images/category/category-img-01.jpg" alt="#">
                </div>
                <div class="category-title">
                  Dresses
                </div>
              </a>
            </div>
            <div class="col-xs-6 col-sm-3">
              <a href="#" class="category-block">
                <div class="category-image">
                  <img src="images/category/category-img-02.jpg" alt="#">
                </div>
                <div class="category-title">
                  Jackets
                </div>
              </a>
            </div>
            <div class="col-xs-6 col-sm-3">
              <a href="#" class="category-block">
                <div class="category-image">
                  <img src="images/category/category-img-03.jpg" alt="#">
                </div>
                <div class="category-title">
                  Trousers
                </div>
              </a>
            </div>
            <div class="col-xs-6 col-sm-3">
              <a href="#" class="category-block">
                <div class="category-image">
                  <img src="images/category/category-img-04.jpg" alt="#">
                </div>
                <div class="category-title">
                  T-shirts
                </div>
              </a>
            </div>
          </div>
        </div>--}}

        <div class="filter-row">
          <div class="row">
            <div class="col-xs-8 col-sm-7 col-lg-5 col-left">
              <div class="filter-button">
                <a href="#" class="btn filter-col-toggle"><i class="icon icon-filter"></i><span>FILTER</span></a>
              </div>
              <div class="form-label">Sort by:</div>
              <div class="select-wrapper-sm">
                <select class="form-control input-sm">
                  <option value="featured">Featured</option>
                  <option value="rating">Rating</option>
                  <option value="price">Price</option>
                </select>
              </div>
              <div class="directions">
                <a href="#"><i class="icon icon-arrow-down"></i></a>
                <a href="#"><i class="icon icon-arrow-up"></i></a>
              </div>
            </div>
            <div class="col-sm-2 col-lg-2 hidden-xs">
              <div class="view-mode">
                <a href="#" class="grid-view"><i class="icon icon-th"></i></a>
                <a href="#" class="list-view"><i class="icon icon-th-list"></i></a>
              </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-lg-5 col-right">
              <div class="form-label">Show:</div>
              <div class="select-wrapper-sm">
                <select class="form-control input-sm">
                  <option value="featured">12</option>
                  <option value="rating">36</option>
                  <option value="price">100</option>
                </select>
              </div>
            </div>
          </div>
          <div class="bg-striped"></div>
        </div>

        <div class="items-total">Items 1 to 15 of 28 total</div>

        <div class="products-grid four-in-row product-variant-5">
        {{#each data}}
          <div class="product-item large">
            <div class="product-item-inside">
              <div class="product-item-info">
                <div class="product-item-photo">
                  <div class="product-item-gallery">
                    <div class="carousel-inside slide" data-ride="carousel">
                      <div class="carousel-inner" role="listbox">
                        <div class="item active">
                          <a href="#"><img class="product-image-photo" src="images/products/product-11.jpg" alt=""></a>
                        </div>
                        <div class="item">
                          <a href="#"><img class="product-image-photo" src="images/products/product-11-1.jpg" alt=""></a>
                        </div>
                      </div>
                      <a class="carousel-control next"></a>
                      <a class="carousel-control prev"></a>
                    </div>
                    <a href="quick-view.html" title="Quick View" class="quick-view-link quick-view-btn"> <i class="icon icon-eye"></i><span>Quick View</span></a>
                  </div>
                  <a href="#" title="Add to Wishlist" class="no_wishlist"> <i class="icon icon-heart"></i><span>Add to Wishlist</span> </a>
                  <div class="product-item-actions">
                    <div class="share-button toBottom">
                      <span class="toggle"></span>
                      <ul class="social-list">
                        <li>
                          <a href="#" class="icon icon-google google"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-fancy fancy"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-pinterest pinterest"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-twitter-logo twitter"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-facebook-logo facebook"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="product-item-details">
                  <div class="product-item-name"> <a title="Boyfriend Shorts Denim" href="product.html" class="product-item-link">{{title}}</a> </div>
                  <div class="product-item-description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore</div>
                  <div class="price-box"> <span class="price-container"> <span class="price-wrapper"> <span class="price">{{price}}</span></span>
                    </span>
                  </div>
                  <div class="product-item-rating"> <i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i></div>
                  <button class="btn add-to-cart" data-product="789123"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
        </div>

        <div class="filter-row">
          <div class="row">
            <div class="col-xs-8 col-sm-7 col-lg-5 col-left">
              <div class="filter-button">
                <a href="#" class="btn filter-col-toggle"><i class="icon icon-filter"></i><span>FILTER</span></a>
              </div>
              <div class="form-label">Sort by:</div>
              <div class="select-wrapper-sm">
                <select class="form-control input-sm">
                  <option value="featured">Featured</option>
                  <option value="rating">Rating</option>
                  <option value="price">Price</option>
                </select>
              </div>
              <div class="directions">
                <a href="#"><i class="icon icon-arrow-down"></i></a>
                <a href="#"><i class="icon icon-arrow-up"></i></a>
              </div>
            </div>
            <div class="col-sm-2 col-lg-2 hidden-xs">
              <div class="view-mode">
                <a href="#" class="grid-view"><i class="icon icon-th"></i></a>
                <a href="#" class="list-view"><i class="icon icon-th-list"></i></a>
              </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-lg-5 col-right">
              <div class="form-label">Show:</div>
              <div class="select-wrapper-sm">
                <select class="form-control input-sm">
                  <option value="featured">12</option>
                  <option value="rating">36</option>
                  <option value="price">100</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="items-total">Items 1 to 15 of 28 total</div>
      </div>
    </div>
  </div>
</main>
