<main class="page-main">
  <div class="block">
    <div class="container">
      <ul class="breadcrumbs">
        <li><a href="index.html"><i class="icon icon-home"></i></a></li>
        <li>/<span>WOMEN’S</span></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <!-- Two columns -->
    <div class="row">
      <!-- Left column -->
      <div class="col-md-3 filter-col aside">
        <div class="fixed-wrapper">
          <div class="fixed-scroll">
            <div class="filter-col-header">
              <div class="title">Filters</div>
              <a href="#" class="filter-col-toggle"></a>
            </div>
            <div class="filter-col-content">
              <div class="sidebar-block-top">
                <h2>Shoping By</h2>
                <ul class="selected-filters">
                  <li class="block-loading">
                    <a href="#"><span>Trousers</span><span class="remove"><i class="icon icon-close"></i></span></a>
                    <div class="bg-striped"></div>
                  </li>
                  <li>
                    <a href="#"><span>Orange <img src="images/colorswatch/color-orange.png" alt=""></span><span class="remove"><i class="icon icon-close"></i></span></a>
                    <div class="bg-striped"></div>
                  </li>
                  <li>
                    <a href="#"><span>Cavalli</span><span class="remove"><i class="icon icon-close"></i></span></a>
                    <div class="bg-striped"></div>
                  </li>
                  <li>
                    <a href="#"><span>$10-30$</span><span class="remove"><i class="icon icon-close"></i></span></a>
                    <div class="bg-striped"></div>
                  </li>
                  <li>
                    <a href="#"><span>Size 36</span><span class="remove"><i class="icon icon-close"></i></span></a>
                    <div class="bg-striped"></div>
                  </li>
                </ul>
              </div>
              <div class="sidebar-block collapsed open">
                <div class="block-title">
                  <span>Men</span>
                  <div class="toggle-arrow"></div>
                </div>
                <div class="block-content">
                  <ul class="category-list">
                    <li><a href="#" class="value">Dresses</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">Jackets</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">Trousers</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">Jeans</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">Jewellery</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">Scarves & snoods</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">Sunglasses</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">Blouses & shirts</a>
                      <a href="#" class="clear"></a>
                    </li>
                  </ul>
                  <div class="bg-striped"></div>
                </div>
              </div>
              <div class="sidebar-block collapsed">
                <div class="block-title">
                  <span>Women</span>
                  <div class="toggle-arrow"></div>
                </div>
                <div class="block-content">
                  <ul class="category-list">
                    <li class="active"><a href="#" class="value">Dresses</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">Jackets</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">Trousers</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">Jeans</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">Jewellery</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">Scarves & snoods</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">Sunglasses</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">Blouses & shirts</a>
                      <a href="#" class="clear"></a>
                    </li>
                  </ul>
                  <div class="bg-striped"></div>
                </div>
              </div>
              <div class="sidebar-block collapsed">
                <div class="block-title">
                  <span>CHOOSE COLOR</span>
                  <div class="toggle-arrow"></div>
                </div>
                <div class="block-content">
                  <ul class="color-list">
                    <li class="active"><a href="#" data-tooltip="Very long some color name" title="Very long some color name"><span class="clear"></span><span class="value"><img src="images/colorswatch/color-red.png" alt=""></span></a></li>
                    <li><a href="#" data-tooltip="Pink" title="Pink"><span class="clear"></span><span class="value"><img src="images/colorswatch/color-pink.png" alt=""></span></a></li>
                    <li><a href="#" data-tooltip="Violet" title="Violet"><span class="clear"></span><span class="value"><img src="images/colorswatch/color-violet.png" alt=""></span></a></li>
                    <li><a href="#" data-tooltip="Blue" title="Blue"><span class="clear"></span><span class="value"><img src="images/colorswatch/color-blue.png" alt=""></span></a></li>
                    <li><a href="#" data-tooltip="Marine" title="Marine"><span class="clear"></span><span class="value"><img src="images/colorswatch/color-marine.png" alt=""></span></a></li>
                    <li><a href="#" data-tooltip="Orange" title="Orange"><span class="clear"></span><span class="value"><img src="images/colorswatch/color-orange.png" alt=""></span></a></li>
                    <li><a href="#" data-tooltip="Yellow" title="Yellow"><span class="clear"></span><span class="value"><img src="images/colorswatch/color-yellow.png" alt=""></span></a></li>
                    <li><a href="#" data-tooltip="Dark Yellow" title="Dark Yellow"><span class="clear"></span><span class="value"><img src="images/colorswatch/color-darkyellow.png" alt=""></span></a></li>
                    <li><a href="#" data-tooltip="Very long some color name" title="Very long some color name"><span class="clear"></span><span class="value"><img src="images/colorswatch/color-black.png" alt=""></span></a></li>
                    <li><a href="#" data-tooltip="White" title="White"><span class="clear"></span><span class="value"><img src="images/colorswatch/color-white.png" alt=""></span></a></li>
                  </ul>
                  <div class="bg-striped"></div>
                </div>
              </div>
              <div class="sidebar-block collapsed">
                <div class="block-title">
                  <span>Brands</span>
                  <div class="toggle-arrow"></div>
                </div>
                <div class="block-content">
                  <ul class="category-list">
                    <li><a href="#" class="value">Dresses</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">Jackets</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li class="active"><a href="#">Trousers</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">Jeans</a>
                      <a href="#" class="clear"></a>
                    </li>
                  </ul>
                  <div class="bg-striped"></div>
                </div>
              </div>
              <div class="sidebar-block collapsed">
                <div class="block-title">
                  <span>Price</span>
                  <div class="toggle-arrow"></div>
                </div>
                <div class="block-content">
                  <ul class="category-list">
                    <li><a href="#">$10-$30</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li class="active"><a href="#">$30-$60</a>
                      <a href="#" class="clear"></a>
                    </li>
                    <li><a href="#">$60-$120</a>
                      <a href="#" class="clear"></a>
                    </li>
                  </ul>
                  <div class="price-slider-wrapper">
                    <div class="price-values">
                      <div class="pull-left">$<span id="priceMin"></span></div>
                      <div class="pull-right">$<span id="priceMax"></span></div>
                    </div>
                    <div id="priceSlider" class="price-slider"></div>
                  </div>
                  <div class="bg-striped"></div>
                </div>
              </div>
              <div class="sidebar-block collapsed">
                <div class="block-title">
                  <span>Size</span>
                  <div class="toggle-arrow"></div>
                </div>
                <div class="block-content">
                  <ul class="size-list">
                    <li class="active"><a href="#"><span class="clear"></span><span class="value">38</span></a></li>
                    <li><a href="#"><span class="clear"></span><span class="value">38</span></a></li>
                    <li><a href="#"><span class="clear"></span><span class="value">40</span></a></li>
                    <li><a href="#"><span class="clear"></span><span class="value">42</span></a></li>
                  </ul>
                  <div class="bg-striped"></div>
                </div>
              </div>
              <div class="sidebar-block collapsed block-loading">
                <div class="block-title">
                  <span>Tags</span>
                  <div class="toggle-arrow"></div>
                </div>
                <div class="block-content">
                  <ul class="tags">
                    <li class="active"><a href="#"><span class="clear"></span><span class="value"><span>Dresses</span></span></a></li>
                    <li><a href="#"><span class="clear"></span><span class="value"><span>Outerwear</span></span></a></li>
                    <li><a href="#"><span class="clear"></span><span class="value"><span>Tops</span></span></a></li>
                    <li><a href="#"><span class="clear"></span><span class="value"><span>Sleeveless tops</span></span></a></li>
                    <li><a href="#"><span class="clear"></span><span class="value"><span>Sweaters</span></span></a></li>
                  </ul>
                  <div class="bg-striped"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Left column -->
      <!-- Center column -->
      <div class="col-md-9 aside">
        <!-- Page Title -->
        <div class="page-title">
          <div class="title center">
            <h1>WOMEN’S</h1>
          </div>
        </div>
        <!-- /Page Title -->
        <!-- Banners -->
        <div class="row">
          <div class="col-sm-6">
            <a href="#" class="banner-wrap">
              <div class="banner style-9 autosize-text image-hover-scale" data-fontratio="6.4">
                <img src="images/banners/banner-category-1.jpg" alt="Banner">
                <div class="banner-caption vertb">
                  <div class="vert-wrapper">
                    <div class="vert">
                      <div class="text-1 text-hoverslide" data-hcolor="#ffffff"><span><span class="text">Brands favorite women</span><span class="hoverbg"></span></span>
                      </div>
                      <div class="text-2">Minus id quod maxime placeat facere possimus omnis voluptas assumenda</div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-6">
            <a href="#" class="banner-wrap">
              <div class="banner style-10 autosize-text image-hover-scale" data-fontratio="6.4">
                <img src="images/banners/banner-category-2.jpg" alt="Banner 2">
                <div class="banner-caption vertb horc">
                  <div class="vert-wrapper">
                    <div class="vert">
                      <div class="text-1">You deserve the best</div>
                      <div class="banner-btn text-hoverslide" data-hcolor="#f82e56"><span><span class="text">Shop Now</span><span class="hoverbg"></span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- /Banners -->
        <!-- Categories Info -->
        <div class="info-block">
          <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqui.</p>
        </div>
        <!-- Categories Info -->
        <!-- Categories -->
        <div class="categories">
          <div class="row">
            <div class="col-xs-6 col-sm-3">
              <a href="#" class="category-block">
                <div class="category-image">
                  <img src="images/category/category-img-01.jpg" alt="#">
                </div>
                <div class="category-title">
                  Dresses
                </div>
              </a>
            </div>
            <div class="col-xs-6 col-sm-3">
              <a href="#" class="category-block">
                <div class="category-image">
                  <img src="images/category/category-img-02.jpg" alt="#">
                </div>
                <div class="category-title">
                  Jackets
                </div>
              </a>
            </div>
            <div class="col-xs-6 col-sm-3">
              <a href="#" class="category-block">
                <div class="category-image">
                  <img src="images/category/category-img-03.jpg" alt="#">
                </div>
                <div class="category-title">
                  Trousers
                </div>
              </a>
            </div>
            <div class="col-xs-6 col-sm-3">
              <a href="#" class="category-block">
                <div class="category-image">
                  <img src="images/category/category-img-04.jpg" alt="#">
                </div>
                <div class="category-title">
                  T-shirts
                </div>
              </a>
            </div>
          </div>
        </div>
        <!-- /Categories -->
        <!-- Filter Row -->
        <div class="filter-row">
          <div class="row">
            <div class="col-xs-8 col-sm-7 col-lg-5 col-left">
              <div class="filter-button">
                <a href="#" class="btn filter-col-toggle"><i class="icon icon-filter"></i><span>FILTER</span></a>
              </div>
              <div class="form-label">Sort by:</div>
              <div class="select-wrapper-sm">
                <select class="form-control input-sm">
                  <option value="featured">Featured</option>
                  <option value="rating">Rating</option>
                  <option value="price">Price</option>
                </select>
              </div>
              <div class="directions">
                <a href="#"><i class="icon icon-arrow-down"></i></a>
                <a href="#"><i class="icon icon-arrow-up"></i></a>
              </div>
            </div>
            <div class="col-sm-2 col-lg-2 hidden-xs">
              <div class="view-mode">
                <a href="#" class="grid-view"><i class="icon icon-th"></i></a>
                <a href="#" class="list-view"><i class="icon icon-th-list"></i></a>
              </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-lg-5 col-right">
              <div class="form-label">Show:</div>
              <div class="select-wrapper-sm">
                <select class="form-control input-sm">
                  <option value="featured">12</option>
                  <option value="rating">36</option>
                  <option value="price">100</option>
                </select>
              </div>
            </div>
          </div>
          <div class="bg-striped"></div>
        </div>
        <!-- /Filter Row -->
        <!-- Total -->
        <div class="items-total">Items 1 to 15 of 28 total</div>
        <!-- /Total -->
        <!-- Products Grid -->
        <div class="products-grid four-in-row product-variant-5">
          <!-- Product Item -->
          <div class="product-item large colorvariants category2">
            <div class="product-item-inside">
              <div class="product-item-info">
                <!-- Product Photo -->
                <div class="product-item-photo">
                  <!-- Product Label -->
                  <div class="product-item-label label-sale"><span>-20%</span></div>
                  <!-- /Product Label -->
                  <!-- product main photo -->
                  <div class="product-item-gallery-main">
                    <a href="#"><img class="product-image-photo" src="images/products/product-16-c1.jpg" alt=""></a>
                    <a href="quick-view.html" title="Quick View" class="quick-view-link quick-view-btn"> <i class="icon icon-eye"></i><span>Quick View</span></a>
                  </div>
                  <!-- /product main photo  -->
                  <div class="countdown-box hidden-xs">
                    <div class="countdown-wrapper">
                      <div class="countdown-title">special price expires in</div>
                      <div class="countdown" data-promodate="2016/12/01"></div>
                    </div>
                  </div>
                  <!-- Product Actions -->
                  <a href="#" title="Add to Wishlist" class="wishlist active"> <i class="icon icon-heart"></i><span>Add to Wishlist</span> </a>
                  <div class="product-item-actions">
                    <div class="share-button toBottom">
                      <span class="toggle"></span>
                      <ul class="social-list">
                        <li>
                          <a href="#" class="icon icon-google google"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-fancy fancy"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-pinterest pinterest"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-twitter-logo twitter"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-facebook-logo facebook"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- /Product Actions -->
                  <ul class="color-swatch hidden-xs">
                    <li class="active">
                      <a data-image="images/products/product-16-c1.jpg" href="#"><img src="images/colorswatch/color-blue.png" alt="Blue"></a>
                    </li>
                    <li>
                      <a data-image="images/products/product-16-c2.jpg" href="#"><img src="images/colorswatch/color-grey.png" alt="Gray"></a>
                    </li>
                    <li>
                      <a data-image="images/products/product-16-c3.jpg" href="#"><img src="images/colorswatch/color-red.png" alt="Red"></a>
                    </li>
                    <li>
                      <a data-image="images/products/product-16-c4.jpg" href="#"><img src="images/colorswatch/color-violet.png" alt="Violet"></a>
                    </li>
                    <li>
                      <a data-image="images/products/product-16-c5.jpg" href="#"><img src="images/colorswatch/color-green.png" alt="Green"></a>
                    </li>
                  </ul>
                                      </div>
                <!-- /Product Photo -->
                <!-- Product Details -->
                <div class="product-item-details">
                  <div class="product-item-name"> <a title="Long sleeve overall" href="product.html" class="product-item-link">Long sleeve overall</a></div>
                  <div class="product-item-description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore</div>
                  <div class="price-box"> <span class="price-container"> <span class="price-wrapper"> <span class="old-price">$190.00</span> <span class="special-price">$149.00</span> </span>
                    </span>
                  </div>
                  <div class="product-item-rating"> <i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i></div>
                  <button class="btn add-to-cart" data-product="789123"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
                </div>
                <!-- /Product Details -->
              </div>
            </div>
          </div>
          <!-- /Product Item -->
          <!-- Product Item -->
          <div class="product-item large category1">
            <div class="product-item-inside">
              <div class="product-item-info">
                <!-- Product Photo -->
                <div class="product-item-photo">
                  <!-- Product Label -->
                  <div class="product-item-label label-new"><span>New</span></div>
                  <!-- /Product Label -->
                  <!-- product main photo -->
                  <!-- product inside carousel -->
                  <div class="carousel-inside slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                      <div class="item active">
                        <a href="#"><img class="product-image-photo" src="images/products/product-20.jpg" alt=""></a>
                      </div>
                      <div class="item">
                        <a href="#"><img class="product-image-photo" src="images/products/product-20-1.jpg" alt=""></a>
                      </div>
                      <div class="item">
                        <a href="#"><img class="product-image-photo" src="images/products/product-20-2.jpg" alt=""></a>
                      </div>
                    </div>
                    <a class="carousel-control next"></a>
                    <a class="carousel-control prev"></a>
                  </div>
                  <!-- /product inside carousel -->
                  <a href="quick-view.html" title="Quick View" class="quick-view-link quick-view-btn"> <i class="icon icon-eye"></i><span>Quick View</span></a>
                  <!-- /product main photo  -->
                  <!-- Product Actions -->
                  <a href="#" title="Add to Wishlist" class="no_wishlist"> <i class="icon icon-heart"></i><span>Add to Wishlist</span> </a>
                  <div class="product-item-actions">
                    <div class="share-button toBottom">
                      <span class="toggle"></span>
                      <ul class="social-list">
                        <li>
                          <a href="#" class="icon icon-google google"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-fancy fancy"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-pinterest pinterest"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-twitter-logo twitter"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-facebook-logo facebook"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- /Product Actions -->
                </div>
                <!-- /Product Photo -->
                <!-- Product Details -->
                <div class="product-item-details">
                  <div class="product-item-name"> <a title="Lace back mini dress" href="product.html" class="product-item-link">Lace back mini dress</a> </div>
                  <div class="product-item-description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore</div>
                  <div class="price-box"> <span class="price-container"> <span class="price-wrapper"><span class="price">$239.00</span> </span>
                    </span>
                  </div>
                  <div class="product-item-rating"> <i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i></div>
                  <button class="btn add-to-cart" data-product="789123"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
                </div>
                <!-- /Product Details -->
              </div>
            </div>
          </div>
          <!-- /Product Item -->
          <!-- Product Item -->
          <div class="product-item large category2">
            <div class="product-item-inside">
              <div class="product-item-info">
                <!-- Product Photo -->
                <div class="product-item-photo">
                  <!-- Product Label -->
                  <div class="product-item-label label-sale"><span>-20%</span></div>
                  <!-- /Product Label -->
                  <div class="product-item-gallery">
                    <!-- product main photo -->
                    <!-- product inside carousel -->
                    <div class="carousel-inside slide" data-ride="carousel">
                      <div class="carousel-inner" role="listbox">
                        <div class="item active">
                          <a href="#"><img class="product-image-photo" src="images/products/product-26.jpg" alt=""></a>
                        </div>
                        <div class="item">
                          <a href="#"><img class="product-image-photo" src="images/products/product-26-1.jpg" alt=""></a>
                        </div>
                        <div class="item">
                          <a href="#"><img class="product-image-photo" src="images/products/product-26-2.jpg" alt=""></a>
                        </div>
                      </div>
                      <a class="carousel-control next"></a>
                      <a class="carousel-control prev"></a>
                    </div>
                    <!-- /product inside carousel -->
                    <a href="quick-view.html" title="Quick View" class="quick-view-link quick-view-btn"> <i class="icon icon-eye"></i><span>Quick View</span></a>
                    <!-- /product main photo  -->
                  </div>
                  <div class="countdown-box hidden-xs">
                    <div class="countdown-wrapper">
                      <div class="countdown-title">special price expires in</div>
                      <div class="countdown" data-promoperiod="100000000"></div>
                    </div>
                  </div>
                  <!-- Product Actions -->
                  <!-- Product Actions -->
                  <a href="#" title="Add to Wishlist" class="no_wishlist"> <i class="icon icon-heart"></i><span>Add to Wishlist</span> </a>
                  <div class="product-item-actions">
                    <div class="share-button toBottom">
                      <span class="toggle"></span>
                      <ul class="social-list">
                        <li>
                          <a href="#" class="icon icon-google google"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-fancy fancy"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-pinterest pinterest"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-twitter-logo twitter"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-facebook-logo facebook"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- /Product Actions -->
                </div>
                <!-- /Product Photo -->
                <!-- Product Details -->
                <div class="product-item-details">
                  <div class="product-item-name"> <a title="Grey T-shirt fashion Sportex" href="product.html" class="product-item-link">Grey T-shirt fashion Sportex</a> </div>
                  <div class="product-item-description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore</div>
                  <div class="price-box"> <span class="price-container"> <span class="price-wrapper"> <span class="old-price">$300.00</span> <span class="special-price">$249.00</span> </span>
                    </span>
                  </div>
                  <div class="product-item-rating"> <i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i></div>
                  <button class="btn add-to-cart" data-product="789123"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
                </div>
                <!-- /Product Details -->
              </div>
            </div>
          </div>
          <!-- /Product Item -->
          <!-- Product Item -->
          <div class="product-item  large category1 category2">
            <div class="product-item-inside">
              <div class="product-item-info">
                <!-- Product Photo -->
                <div class="product-item-photo">
                  <!-- Product Label -->
                  <div class="product-item-label label-new"><span>New</span></div>
                  <div class="product-item-label label-sale"><span>-20%</span></div>
                  <!-- /Product Label -->
                  <!-- product main photo -->
                  <!-- product inside carousel -->
                  <div class="carousel-inside slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                      <div class="item active">
                        <a href="#"><img class="product-image-photo" src="images/products/product-25.jpg" alt=""></a>
                      </div>
                      <div class="item">
                        <a href="#"><img class="product-image-photo" src="images/products/product-25-1.jpg" alt=""></a>
                      </div>
                    </div>
                    <a class="carousel-control next"></a>
                    <a class="carousel-control prev"></a>
                  </div>
                  <!-- /product inside carousel -->
                  <a href="quick-view.html" title="Quick View" class="quick-view-link quick-view-btn"> <i class="icon icon-eye"></i><span>Quick View</span></a>
                  <!-- /product main photo  -->
                  <div class="countdown-box hidden-xs">
                    <div class="countdown-wrapper">
                      <div class="countdown-title">special price expires in</div>
                      <div class="countdown" data-promodate="2016/12/01"></div>
                    </div>
                  </div>
                  <!-- Product Actions -->
                  <a href="#" title="Add to Wishlist" class="no_wishlist"> <i class="icon icon-heart"></i><span>Add to Wishlist</span> </a>
                  <div class="product-item-actions">
                    <div class="share-button toBottom">
                      <span class="toggle"></span>
                      <ul class="social-list">
                        <li>
                          <a href="#" class="icon icon-google google"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-fancy fancy"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-pinterest pinterest"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-twitter-logo twitter"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-facebook-logo facebook"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- /Product Actions -->
                </div>
                <!-- /Product Photo -->
                <!-- Product Details -->
                <div class="product-item-details">
                  <div class="product-item-name"> <a title="Mesh bodycon dress" href="product.html" class="product-item-link">Mesh bodycon dress</a> </div>
                  <div class="product-item-description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore</div>
                  <div class="price-box"> <span class="price-container"> <span class="price-wrapper"> <span class="old-price">$290.00</span> <span class="special-price">$229.00</span> </span>
                    </span>
                  </div>
                  <div class="product-item-rating"> <i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i></div>
                  <button class="btn add-to-cart" data-product="789123"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
                </div>
                <!-- /Product Details -->
              </div>
            </div>
          </div>
          <!-- /Product Item -->
          <!-- Product Item -->
          <div class="product-item  large">
            <div class="product-item-inside">
              <div class="product-item-info">
                <!-- Product Photo -->
                <div class="product-item-photo">
                  <div class="product-item-gallery">
                    <!-- product main photo -->
                    <!-- product inside carousel -->
                    <div class="carousel-inside slide" data-ride="carousel">
                      <div class="carousel-inner" role="listbox">
                        <div class="item active">
                          <a href="#"><img class="product-image-photo" src="images/products/product-18.jpg" alt=""></a>
                        </div>
                        <div class="item">
                          <a href="#"><img class="product-image-photo" src="images/products/product-18-1.jpg" alt=""></a>
                        </div>
                      </div>
                      <a class="carousel-control next"></a>
                      <a class="carousel-control prev"></a>
                    </div>
                    <!-- /product inside carousel -->
                    <a href="quick-view.html" title="Quick View" class="quick-view-link quick-view-btn"> <i class="icon icon-eye"></i><span>Quick View</span></a>
                    <!-- /product main photo  -->
                  </div>
                  <!-- Product Actions -->
                  <a href="#" title="Add to Wishlist" class="no_wishlist"> <i class="icon icon-heart"></i><span>Add to Wishlist</span> </a>
                  <div class="product-item-actions">
                    <div class="share-button toBottom">
                      <span class="toggle"></span>
                      <ul class="social-list">
                        <li>
                          <a href="#" class="icon icon-google google"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-fancy fancy"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-pinterest pinterest"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-twitter-logo twitter"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-facebook-logo facebook"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- /Product Actions -->
                </div>
                <!-- /Product Photo -->
                <!-- Product Details -->
                <div class="product-item-details">
                  <div class="product-item-name"> <a title="Backless mini dress" href="product.html" class="product-item-link">Backless mini dress</a> </div>
                  <div class="product-item-description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore</div>
                  <div class="price-box"> <span class="price-container"> <span class="price-wrapper"> <span class="price">$89.00</span></span>
                    </span>
                  </div>
                  <div class="product-item-rating"> <i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i></div>
                  <button class="btn add-to-cart" data-product="789123"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
                </div>
                <!-- /Product Details -->
              </div>
            </div>
          </div>
          <!-- /Product Item -->

          <!-- Product Item -->
          <div class="product-item large category1">
            <div class="product-item-inside">
              <div class="product-item-info">
                <!-- Product Photo -->
                <div class="product-item-photo">
                  <!-- Product Label -->
                  <div class="product-item-label label-new"><span>New</span></div>
                  <!-- /Product Label -->
                  <div class="product-item-gallery">
                    <!-- product main photo -->
                    <div class="product-item-gallery-main">
                      <a href="#"><img class="product-image-photo" src="images/products/product-10.jpg" alt=""></a>
                      <a href="quick-view.html" title="Quick View" class="quick-view-link quick-view-btn"> <i class="icon icon-eye"></i><span>Quick View</span></a>
                    </div>
                    <!-- /product main photo  -->
                  </div>
                  <!-- Product Actions -->
                  <a href="#" title="Add to Wishlist" class="no_wishlist"> <i class="icon icon-heart"></i><span>Add to Wishlist</span> </a>
                  <div class="product-item-actions">
                    <div class="share-button toBottom">
                      <span class="toggle"></span>
                      <ul class="social-list">
                        <li>
                          <a href="#" class="icon icon-google google"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-fancy fancy"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-pinterest pinterest"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-twitter-logo twitter"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-facebook-logo facebook"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- /Product Actions -->
                </div>
                <!-- /Product Photo -->
                <!-- Product Details -->
                <div class="product-item-details">
                  <div class="product-item-name"> <a title="Longline  asymmetric midi skirt" href="product.html" class="product-item-link">Longline  asymmetric midi skirt</a> </div>
                  <div class="product-item-description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore</div>
                  <div class="price-box"> <span class="price-container"> <span class="price-wrapper"> <span class="price">$210.00</span></span>
                    </span>
                  </div>
                  <div class="product-item-rating"> <i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i></div>
                  <button class="btn add-to-cart" data-product="789123"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
                </div>
                <!-- /Product Details -->
              </div>
            </div>
          </div>
          <!-- /Product Item -->
          <!-- Product Item -->
          <div class="product-item  large">
            <div class="product-item-inside">
              <div class="product-item-info">
                <!-- Product Photo -->
                <div class="product-item-photo">
                  <div class="product-item-gallery">
                    <!-- product main photo -->
                    <div class="product-item-gallery-main">
                      <a href="#"><img class="product-image-photo" src="images/products/product-9.jpg" alt=""></a>
                      <a href="quick-view.html" title="Quick View" class="quick-view-link quick-view-btn"> <i class="icon icon-eye"></i><span>Quick View</span></a>
                    </div>
                    <!-- /product main photo  -->
                  </div>
                  <!-- Product Actions -->
                  <a href="#" title="Add to Wishlist" class="no_wishlist"> <i class="icon icon-heart"></i><span>Add to Wishlist</span> </a>
                  <div class="product-item-actions">
                    <div class="share-button toBottom">
                      <span class="toggle"></span>
                      <ul class="social-list">
                        <li>
                          <a href="#" class="icon icon-google google"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-fancy fancy"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-pinterest pinterest"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-twitter-logo twitter"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-facebook-logo facebook"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- /Product Actions -->
                </div>
                <!-- /Product Photo -->
                <!-- Product Details -->
                <div class="product-item-details">
                  <div class="product-item-name"> <a title="Fashion Cotton Jackets" href="product.html" class="product-item-link">Fashion Cotton Jackets</a> </div>
                  <div class="product-item-description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore</div>
                  <div class="price-box"> <span class="price-container"> <span class="price-wrapper"> <span class="price">$179.00</span></span>
                    </span>
                  </div>
                  <div class="product-item-rating"> <i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i></div>
                  <button class="btn add-to-cart" data-product="789123"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
                </div>
                <!-- /Product Details -->
              </div>
            </div>
          </div>
          <!-- /Product Item -->
          <!-- Product Item -->
          <div class="product-item  large category1">
            <div class="product-item-inside">
              <div class="product-item-info">
                <!-- Product Photo -->
                <div class="product-item-photo">
                  <!-- Product Label -->
                  <div class="product-item-label label-new"><span>New</span></div>
                  <!-- /Product Label -->
                  <!-- product main photo -->
                  <!-- product inside carousel -->
                  <div class="carousel-inside slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                      <div class="item active">
                        <a href="#"><img class="product-image-photo" src="images/products/product-17.jpg" alt=""></a>
                      </div>
                      <div class="item">
                        <a href="#"><img class="product-image-photo" src="images/products/product-17-1.jpg" alt=""></a>
                      </div>
                      <div class="item">
                        <a href="#"><img class="product-image-photo" src="images/products/product-17-2.jpg" alt=""></a>
                      </div>
                    </div>
                    <a class="carousel-control next"></a>
                    <a class="carousel-control prev"></a>
                  </div>
                  <!-- /product inside carousel -->
                  <a href="quick-view.html" title="Quick View" class="quick-view-link quick-view-btn"> <i class="icon icon-eye"></i><span>Quick View</span></a>
                  <a href="product.html" class="product-item-not-available">
                    <span class="vert-wrapper"><span class="vert"><span class="text">Not Available</span></span>
                    </span>
                  </a>
                  <!-- /product main photo  -->
                  <!-- Product Actions -->
                  <a href="#" title="Add to Wishlist" class="no_wishlist"> <i class="icon icon-heart"></i><span>Add to Wishlist</span> </a>
                  <div class="product-item-actions">
                    <div class="share-button toBottom">
                      <span class="toggle"></span>
                      <ul class="social-list">
                        <li>
                          <a href="#" class="icon icon-google google"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-fancy fancy"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-pinterest pinterest"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-twitter-logo twitter"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-facebook-logo facebook"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- /Product Actions -->
                </div>
                <!-- /Product Photo -->
                <!-- Product Details -->
                <div class="product-item-details">
                  <div class="product-item-name"> <a title="Floral sleeveless dress" href="product.html" class="product-item-link">Floral sleeveless dress</a> </div>
                  <div class="product-item-description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore</div>
                  <div class="price-box"> <span class="price-container"> <span class="price-wrapper"> <span class="price">$289.00</span> </span>
                    </span>
                  </div>
                  <div class="product-item-rating"> <i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i></div>
                  <button class="btn add-to-cart" data-product="789123"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
                </div>
                <!-- /Product Details -->
              </div>
            </div>
          </div>
          <!-- /Product Item -->
          <!-- Product Item -->
          <div class="product-item large category2">
            <div class="product-item-inside">
              <div class="product-item-info">
                <!-- Product Photo -->
                <div class="product-item-photo">
                  <!-- Product Label -->
                  <div class="product-item-label label-sale"><span>-50%</span></div>
                  <!-- /Product Label -->
                  <div class="product-item-gallery">
                    <!-- product main photo -->
                    <div class="product-item-gallery-main">
                      <a href="#"><img class="product-image-photo" src="images/products/product-27.jpg" alt=""></a>
                      <a href="quick-view.html" title="Quick View" class="quick-view-link quick-view-btn"> <i class="icon icon-eye"></i><span>Quick View</span></a>
                    </div>
                    <!-- /product main photo  -->
                  </div>
                  <div class="countdown-box hidden-xs">
                    <div class="countdown-wrapper">
                      <div class="countdown-title">special price expires in</div>
                      <div class="countdown" data-promoperiod="150000000"></div>
                    </div>
                  </div>
                  <!-- Product Actions -->
                  <a href="#" title="Add to Wishlist" class="no_wishlist"> <i class="icon icon-heart"></i><span>Add to Wishlist</span> </a>
                  <div class="product-item-actions">
                    <div class="share-button toBottom">
                      <span class="toggle"></span>
                      <ul class="social-list">
                        <li>
                          <a href="#" class="icon icon-google google"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-fancy fancy"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-pinterest pinterest"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-twitter-logo twitter"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-facebook-logo facebook"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- /Product Actions -->
                </div>
                <!-- /Product Photo -->
                <!-- Product Details -->
                <div class="product-item-details">
                  <div class="product-item-name"> <a title="Athletic T-Shirt" href="product.html" class="product-item-link">Athletic T-Shirt</a> </div>
                  <div class="product-item-description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore</div>
                  <div class="price-box"> <span class="price-container"> <span class="price-wrapper"> <span class="old-price">$420.00</span> <span class="special-price">$210.00</span> </span>
                    </span>
                  </div>
                  <div class="product-item-rating"> <i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i></div>
                  <button class="btn add-to-cart" data-product="789123"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
                </div>
                <!-- /Product Details -->
              </div>
            </div>
          </div>
          <!-- /Product Item -->

          <!-- Product Item -->
          <div class="product-item large category2">
            <div class="product-item-inside">
              <div class="product-item-info">
                <!-- Product Photo -->
                <div class="product-item-photo">
                  <div class="product-item-gallery">
                    <!-- product main photo -->
                    <div class="product-item-gallery-main">
                      <a href="#"><img class="product-image-photo" src="images/products/product-13.jpg" alt=""></a>
                      <a href="quick-view.html" title="Quick View" class="quick-view-link quick-view-btn"> <i class="icon icon-eye"></i><span>Quick View</span></a>
                    </div>
                    <!-- /product main photo  -->
                  </div>
                  <!-- Product Actions -->
                  <a href="#" title="Add to Wishlist" class="no_wishlist"> <i class="icon icon-heart"></i><span>Add to Wishlist</span> </a>
                  <div class="product-item-actions">
                    <div class="share-button toBottom">
                      <span class="toggle"></span>
                      <ul class="social-list">
                        <li>
                          <a href="#" class="icon icon-google google"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-fancy fancy"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-pinterest pinterest"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-twitter-logo twitter"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-facebook-logo facebook"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- /Product Actions -->
                </div>
                <!-- /Product Photo -->
                <!-- Product Details -->
                <div class="product-item-details">
                  <div class="product-item-name"> <a title="Style Dome Men's Solid Red Color" href="product.html" class="product-item-link">Style Dome Men's Solid Red Color</a> </div>
                  <div class="product-item-description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore</div>
                  <div class="price-box"> <span class="price-container"> <span class="price">$410.00</span> </span>
                  </div>
                  <div class="product-item-rating"> <i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i></div>
                  <button class="btn add-to-cart" data-product="789123"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
                </div>
                <!-- /Product Details -->
              </div>
            </div>
          </div>
          <!-- /Product Item -->
          <!-- Product Item -->
          <div class="product-item  large">
            <div class="product-item-inside">
              <div class="product-item-info">
                <!-- Product Photo -->
                <div class="product-item-photo">
                  <div class="product-item-gallery">
                    <!-- product main photo -->
                    <!-- product inside carousel -->
                    <div class="carousel-inside slide" data-ride="carousel">
                      <div class="carousel-inner" role="listbox">
                        <div class="item active">
                          <a href="#"><img class="product-image-photo" src="images/products/product-14.jpg" alt=""></a>
                        </div>
                        <div class="item">
                          <a href="#"><img class="product-image-photo" src="images/products/product-14-1.jpg" alt=""></a>
                        </div>
                      </div>
                      <a class="carousel-control next"></a>
                      <a class="carousel-control prev"></a>
                    </div>
                    <!-- /product inside carousel -->
                    <a href="quick-view.html" title="Quick View" class="quick-view-link quick-view-btn"> <i class="icon icon-eye"></i><span>Quick View</span></a>
                    <!-- /product main photo  -->
                  </div>
                  <!-- Product Actions -->
                  <a href="#" title="Add to Wishlist" class="no_wishlist"> <i class="icon icon-heart"></i><span>Add to Wishlist</span> </a>
                  <div class="product-item-actions">
                    <div class="share-button toBottom">
                      <span class="toggle"></span>
                      <ul class="social-list">
                        <li>
                          <a href="#" class="icon icon-google google"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-fancy fancy"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-pinterest pinterest"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-twitter-logo twitter"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-facebook-logo facebook"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- /Product Actions -->
                </div>
                <!-- /Product Photo -->
                <!-- Product Details -->
                <div class="product-item-details">
                  <div class="product-item-name"> <a title="Vertical stripe shift dress" href="product.html" class="product-item-link">Vertical stripe shift dress</a> </div>
                  <div class="product-item-description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore</div>
                  <div class="price-box"> <span class="price-container"> <span class="price-wrapper"> <span class="price">$269.00</span></span>
                    </span>
                  </div>
                  <div class="product-item-rating"> <i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i></div>
                  <button class="btn add-to-cart" data-product="789123"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
                </div>
                <!-- /Product Details -->
              </div>
            </div>
          </div>
          <!-- /Product Item -->
          <!-- Product Item -->
          <div class="product-item  large">
            <div class="product-item-inside">
              <div class="product-item-info">
                <!-- Product Photo -->
                <div class="product-item-photo">
                  <div class="product-item-gallery">
                    <!-- product main photo -->
                    <!-- product inside carousel -->
                    <div class="carousel-inside slide" data-ride="carousel">
                      <div class="carousel-inner" role="listbox">
                        <div class="item active">
                          <a href="#"><img class="product-image-photo" src="images/products/product-11.jpg" alt=""></a>
                        </div>
                        <div class="item">
                          <a href="#"><img class="product-image-photo" src="images/products/product-11-1.jpg" alt=""></a>
                        </div>
                      </div>
                      <a class="carousel-control next"></a>
                      <a class="carousel-control prev"></a>
                    </div>
                    <!-- /product inside carousel -->
                    <a href="quick-view.html" title="Quick View" class="quick-view-link quick-view-btn"> <i class="icon icon-eye"></i><span>Quick View</span></a>
                    <!-- /product main photo  -->
                  </div>
                  <!-- Product Actions -->
                  <a href="#" title="Add to Wishlist" class="no_wishlist"> <i class="icon icon-heart"></i><span>Add to Wishlist</span> </a>
                  <div class="product-item-actions">
                    <div class="share-button toBottom">
                      <span class="toggle"></span>
                      <ul class="social-list">
                        <li>
                          <a href="#" class="icon icon-google google"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-fancy fancy"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-pinterest pinterest"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-twitter-logo twitter"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-facebook-logo facebook"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- /Product Actions -->
                </div>
                <!-- /Product Photo -->
                <!-- Product Details -->
                <div class="product-item-details">
                  <div class="product-item-name"> <a title="Boyfriend Shorts Denim" href="product.html" class="product-item-link">Boyfriend Shorts Denim</a> </div>
                  <div class="product-item-description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore</div>
                  <div class="price-box"> <span class="price-container"> <span class="price-wrapper"> <span class="price">$69.00</span></span>
                    </span>
                  </div>
                  <div class="product-item-rating"> <i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i></div>
                  <button class="btn add-to-cart" data-product="789123"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
                </div>
                <!-- /Product Details -->
              </div>
            </div>
          </div>
          <!-- /Product Item -->

        </div>
        <!-- /Products Grid -->
        <!-- Filter Row -->
        <div class="filter-row">
          <div class="row">
            <div class="col-xs-8 col-sm-7 col-lg-5 col-left">
              <div class="filter-button">
                <a href="#" class="btn filter-col-toggle"><i class="icon icon-filter"></i><span>FILTER</span></a>
              </div>
              <div class="form-label">Sort by:</div>
              <div class="select-wrapper-sm">
                <select class="form-control input-sm">
                  <option value="featured">Featured</option>
                  <option value="rating">Rating</option>
                  <option value="price">Price</option>
                </select>
              </div>
              <div class="directions">
                <a href="#"><i class="icon icon-arrow-down"></i></a>
                <a href="#"><i class="icon icon-arrow-up"></i></a>
              </div>
            </div>
            <div class="col-sm-2 col-lg-2 hidden-xs">
              <div class="view-mode">
                <a href="#" class="grid-view"><i class="icon icon-th"></i></a>
                <a href="#" class="list-view"><i class="icon icon-th-list"></i></a>
              </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-lg-5 col-right">
              <div class="form-label">Show:</div>
              <div class="select-wrapper-sm">
                <select class="form-control input-sm">
                  <option value="featured">12</option>
                  <option value="rating">36</option>
                  <option value="price">100</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <!-- /Filter Row -->
        <!-- Total -->
        <div class="items-total">Items 1 to 15 of 28 total</div>
        <!-- /Total -->
      </div>
      <!-- /Center column -->
    </div>
    <!-- /Two columns -->
  </div>
</main>
