<div class="page-wrapper">
  <main class="page-main">
    <div class="block fullheight coming-soon">
      <div class="container">
        <div class="logo">
          <a href="index.html" title="Logo"><img src="images/logo.png" alt="Logo" /></a>
        </div>
        <div class="title">Coming soon</div>
        <div class="countdown-squared">
          <div class="countdown-wrapper">
            <div class="countdown" data-promoperiod="100000000"></div>
          </div>
        </div>
        <div class="wrapper wrapper-form">
          <div class="left-col">
            <h3>Subscribe to our news</h3>
            <div class="clearfix"></div>
            <input class="form-control input-lg" type="text" />
            <button class="btn btn-lg btn-alt"><i class="icon icon-close-envelope"></i><span>Submit</span></button>
          </div>
          <div class="right-col">
            <h3>Login to secret room</h3>
            <div class="clearfix"></div>
            <input class="form-control input-lg" type="text" />
            <button class="btn btn-lg"><i class="icon icon-user"></i><span>Enter</span></button>
          </div>
          <div class="center-col">
            <a class="icon icon-star-fill bookmark" href="#"></a>
          </div>
        </div>
      </div>
    </div>
  </main>

</div>
