<main class="page-main">
  <div class="block">
    <div class="container">
      <ul class="breadcrumbs">
        <li><a href="index.html"><i class="icon icon-home"></i></a></li>
        <li>/<span>FAQ</span></li>
      </ul>
    </div>
  </div>
  <div class="block">
    <div class="container">
      <div class="title center">
        <h1 class="size-lg">FAQ</h1>
      </div>
      <h2 class="no-line custom-color size-lg">Delivery</h2>
      <div class="panel-group faq" id="delivery">
        <div class="panel">
          <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#delivery" href="#delivery1" class="collapsed">
              <span class="closed"><i>–</i></span>
              <span class="opened"><i>+</i></span>
              <div class="panel-title">
                Nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedi
              </div>
            </a>
          </div>
          <div id="delivery1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
              <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#delivery" href="#delivery2" class="collapsed">
              <span class="closed"><i>–</i></span>
              <span class="opened"><i>+</i></span>
              <div class="panel-title">
                Are possimus, omnis voluptas assumenda est, omnis
              </div>
            </a>
          </div>
          <div id="delivery2" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
              <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#delivery" href="#delivery3" class="collapsed">
              <span class="closed"><i>–</i></span>
              <span class="opened"><i>+</i></span>
              <div class="panel-title">
                Aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint
              </div>
            </a>
          </div>
          <div id="delivery3" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
              <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
            </div>
          </div>
        </div>
      </div>
      <h2 class="no-line custom-color size-lg">Warranty</h2>
      <div class="panel-group faq" id="warranty">
        <div class="panel">
          <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#warranty" href="#warranty1" class="collapsed">
              <span class="closed"><i>–</i></span>
              <span class="opened"><i>+</i></span>
              <div class="panel-title">
                Aut aut reiciendis voluptatibus maiores alias consequatur
              </div>
            </a>
          </div>
          <div id="warranty1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
              <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#warranty" href="#warranty2" class="collapsed">
              <span class="closed"><i>–</i></span>
              <span class="opened"><i>+</i></span>
              <div class="panel-title">
                Itaque earum rerum hic tenetur a sapiente delectus
              </div>
            </a>
          </div>
          <div id="warranty2" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
              <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#warranty" href="#warranty3" class="collapsed">
              <span class="closed"><i>–</i></span>
              <span class="opened"><i>+</i></span>
              <div class="panel-title">
                Ut enim ad minima veniam, quis nostrum exercitationem ullam
              </div>
            </a>
          </div>
          <div id="warranty3" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
              <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
            </div>
          </div>
        </div>
      </div>
      <h2 class="no-line custom-color size-lg">Payment</h2>
      <div class="panel-group faq" id="payment">
        <div class="panel">
          <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#payment" href="#payment1">
              <span class="closed"><i>–</i></span>
              <span class="opened"><i>+</i></span>
              <div class="panel-title">
                Aut aut reiciendis voluptatibus maiores alias consequatur
              </div>
            </a>
          </div>
          <div id="payment1" class="panel-collapse collapse in">
            <div class="panel-body">
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
              <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
