{{!< default}}

<!-- Page Content -->
<main class="page-main">
  <div class="block fullwidth full-nopad ">
    <div class="container">
      <!-- Category Slider -->
      <div class="category-slider">
        <div class="item">
          <a href="#">
            <img src="images/products/product-big-1.jpg" alt="">
            <div class="caption">
              <div class="text-style-1">Last Chance</div>
              <div class="text-style-2">SALE 50% OFF</div>
              <div class="btn">SHOP NOW</div>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="#">
            <img src="images/products/product-big-2.jpg" alt="">
            <div class="caption">
              <div class="text-style-1">BodySuits </div>
              <div class="text-style-2">PLAY FOR KEEPS</div>
              <div class="btn">SHOP NOW</div>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="#">
            <img src="images/products/product-big-3.jpg" alt="">
            <div class="caption">
              <div class="text-style-1">Sexy Top</div>
              <div class="text-style-2">EASY DOES IT</div>
              <div class="btn">SHOP NOW</div>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="#">
            <img src="images/products/product-big-4.jpg" alt="">
            <div class="caption">
              <div class="text-style-1">Beach Made</div>
              <div class="text-style-2">SUMMER 2016</div>
              <div class="btn">SHOP NOW</div>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="#">
            <img src="images/products/product-big-2.jpg" alt="">
            <div class="caption">
              <div class="text-style-1">BodySuits </div>
              <div class="text-style-2">PLAY FOR KEEPS</div>
              <div class="btn">SHOP NOW</div>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="#">
            <img src="images/products/product-big-3.jpg" alt="">
            <div class="caption">
              <div class="text-style-1">Sexy Top</div>
              <div class="text-style-2">EASY DOES IT</div>
              <div class="btn">SHOP NOW</div>
            </div>
          </a>
        </div>
      </div>
      <!-- /Category Slider -->
    </div>
  </div>
  <div class="block">
    <div class="container">
      <!-- Wellcome text -->
      <div class="text-center bottom-space">
        <h1 class="size-lg no-padding">WELCOME TO <span class="logo-font custom-color">Seikō</span> STORE</h1>
        <div class="line-divider"></div>
        <p class="custom-color-alt">Lorem ipsum dolor sit amet, ex eam mundi populo accusamus, aliquam quaestio petentium te cum.
          <br> Vim ei oblique tacimates, usu cu iudico graeco. Graeci eripuit inimicus vel eu, eu mel unum laoreet splendide, cu integre apeirian has.
        </p>
      </div>
      <!-- /Wellcome text -->
    </div>
  </div>
  <div class="block">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="box text-center">
            <div class="box-icon"><i class="icon icon-truck"></i></div>
            <h3 class="box-title">FREE SHIPPING</h3>
            <div class="box-text">Free shipping on all orders over $199</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="box text-center">
            <div class="box-icon"><i class="icon icon-dollar"></i></div>
            <h3 class="box-title">MONEY BACK</h3>
            <div class="box-text">100% money back guarantee</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="box text-center">
            <div class="box-icon"><i class="icon icon-help"></i></div>
            <h3 class="box-title">ONLINE SUPPORT</h3>
            <div class="box-text">Service support fast 24/7</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block bottom-space">
    <div class="container">
      <div class="title">
        <h2>Featured products</h2>
        <div class="carousel-arrows"></div>
      </div>
      <div class="products-grid featured-products products-carousel four-in-row product-variant-3">
        <!-- Product Item -->
        <div class="product-item large">
          <div class="product-item-inside">
            <div class="product-item-info">
              <!-- Product Photo -->
              <div class="product-item-photo">
                <!-- product inside carousel -->
                <div class="carousel-inside slide" data-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <a href="#"><img class="product-image-photo" src="images/products/product-8.jpg" alt=""></a>
                    </div>
                    <div class="item">
                      <a href="#"><img class="product-image-photo" src="images/products/product-8-1.jpg" alt=""></a>
                    </div>
                  </div>
                  <a class="carousel-control next"></a>
                  <a class="carousel-control prev"></a>
                </div>
                <!-- /product inside carousel -->
                <!-- Product Actions -->
                <div class="product-item-actions">
                  <div class="actions-primary">
                    <button class="btn btn-sm btn-invert add-to-cart"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
                  </div>
                  <div class="actions-secondary">
                    <a href="#" class="sharing" title="Link"> <i class="icon icon-share"></i> </a>
                    <a href="quick-view.html" class="quick-view-link" title="Quick View"> <i class="icon icon-eye"></i> </a>
                    <a href="#" title="Compare"> <i class="icon icon-balance"></i> </a>
                    <a href="#" title="Wish List" class="wishlist"> <i class="icon icon-heart"></i> </a>
                  </div>
                  <ul class="social-list">
                    <li>
                      <a href="#" class="icon icon-google google"></a>
                    </li>
                    <li>
                      <a href="#" class="icon icon-fancy fancy"></a>
                    </li>
                    <li>
                      <a href="#" class="icon icon-pinterest pinterest"></a>
                    </li>
                    <li>
                      <a href="#" class="icon icon-twitter-logo twitter"></a>
                    </li>
                    <li>
                      <a href="#" class="icon icon-facebook-logo facebook"></a>
                    </li>
                  </ul>
                </div>
                <!-- /Product Actions -->
              </div>
              <!-- /Product Photo -->
              <!-- Product Details -->
              <div class="product-item-details">
                <div class="product-item-name"> <a title="Contrast Dress Shirt" href="product.html" class="product-item-link">Contrast Dress Shirt</a> </div>
                <div class="product-item-description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore</div>
                <div class="price-box"> <span class="price-container"> <span class="price-wrapper"><span class="price">$179.00</span> </span>
                  </span>
                </div>
                <!-- Product Actions -->
                <div class="product-item-actions">
                  <div class="actions-primary">
                    <button class="btn btn-sm btn-invert add-to-cart"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
                  </div>
                </div>
                <!-- /Product Actions -->
              </div>
              <!-- /Product Details -->
            </div>
          </div>
        </div>
        <!-- /Product Item -->
        <!-- Product Item -->
        <div class="product-item large">
          <div class="product-item-inside">
            <div class="product-item-info">
              <!-- Product Photo -->
              <div class="product-item-photo">
                <!-- product inside carousel -->
                <div class="carousel-inside slide" data-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <a href="#"><img class="product-image-photo" src="images/products/product-7.jpg" alt=""></a>
                    </div>
                    <div class="item">
                      <a href="#"><img class="product-image-photo" src="images/products/product-7-1.jpg" alt=""></a>
                    </div>
                    <div class="item">
                      <a href="#"><img class="product-image-photo" src="images/products/product-7-2.jpg" alt=""></a>
                    </div>
                  </div>
                  <a class="carousel-control next"></a>
                  <a class="carousel-control prev"></a>
                </div>
                <!-- /product inside carousel -->
                <!-- Product Actions -->
                <div class="product-item-actions">
                  <div class="actions-primary">
                    <button class="btn btn-sm btn-invert add-to-cart"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
                  </div>
                  <div class="actions-secondary">
                    <a href="#" class="sharing" title="Link"> <i class="icon icon-share"></i> </a>
                    <a href="quick-view.html" class="quick-view-link" title="Quick View"> <i class="icon icon-eye"></i> </a>
                    <a href="#" title="Compare"> <i class="icon icon-balance"></i> </a>
                    <a href="#" title="Wish List" class="wishlist"> <i class="icon icon-heart"></i> </a>
                  </div>
                  <ul class="social-list">
                    <li>
                      <a href="#" class="icon icon-google google"></a>
                    </li>
                    <li>
                      <a href="#" class="icon icon-fancy fancy"></a>
                    </li>
                    <li>
                      <a href="#" class="icon icon-pinterest pinterest"></a>
                    </li>
                    <li>
                      <a href="#" class="icon icon-twitter-logo twitter"></a>
                    </li>
                    <li>
                      <a href="#" class="icon icon-facebook-logo facebook"></a>
                    </li>
                  </ul>
                </div>
                <!-- /Product Actions -->
              </div>
              <!-- /Product Photo -->
              <!-- Product Details -->
              <div class="product-item-details">
                <div class="product-item-name"> <a title="Backless mini dress" href="product.html" class="product-item-link">Backless mini dress</a> </div>
                <div class="product-item-description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore</div>
                <div class="price-box"> <span class="price-container"> <span class="price-wrapper"> <span class="price">$340.00</span></span>
                  </span>
                </div>
                <!-- Product Actions -->
                <div class="product-item-actions">
                  <div class="actions-primary">
                    <button class="btn btn-sm btn-invert add-to-cart"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
                  </div>
                </div>
                <!-- /Product Actions -->
              </div>
              <!-- /Product Details -->
            </div>
          </div>
        </div>
        <!-- /Product Item -->
        <!-- Product Item -->
        <div class="product-item large">
          <div class="product-item-inside">
            <div class="product-item-info">
              <!-- Product Photo -->
              <div class="product-item-photo">
                <!-- product inside carousel -->
                <div class="carousel-inside slide" data-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <a href="#"><img class="product-image-photo" src="images/products/product-20.jpg" alt=""></a>
                    </div>
                    <div class="item">
                      <a href="#"><img class="product-image-photo" src="images/products/product-20-1.jpg" alt=""></a>
                    </div>
                  </div>
                  <a class="carousel-control next"></a>
                  <a class="carousel-control prev"></a>
                </div>
                <!-- /product inside carousel -->
                <!-- Product Actions -->
                <div class="product-item-actions">
                  <div class="actions-primary">
                    <button class="btn btn-sm btn-invert add-to-cart"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
                  </div>
                  <div class="actions-secondary">
                    <a href="#" class="sharing" title="Link"> <i class="icon icon-share"></i> </a>
                    <a href="quick-view.html" class="quick-view-link" title="Quick View"> <i class="icon icon-eye"></i> </a>
                    <a href="#" title="Compare"> <i class="icon icon-balance"></i> </a>
                    <a href="#" title="Wish List" class="wishlist"> <i class="icon icon-heart"></i> </a>
                  </div>
                  <ul class="social-list">
                    <li>
                      <a href="#" class="icon icon-google google"></a>
                    </li>
                    <li>
                      <a href="#" class="icon icon-fancy fancy"></a>
                    </li>
                    <li>
                      <a href="#" class="icon icon-pinterest pinterest"></a>
                    </li>
                    <li>
                      <a href="#" class="icon icon-twitter-logo twitter"></a>
                    </li>
                    <li>
                      <a href="#" class="icon icon-facebook-logo facebook"></a>
                    </li>
                  </ul>
                </div>
                <!-- /Product Actions -->
              </div>
              <!-- /Product Photo -->
              <!-- Product Details -->
              <div class="product-item-details">
                <div class="product-item-name"> <a title="Lace back mini dress" href="product.html" class="product-item-link">Lace back mini dress</a> </div>
                <div class="product-item-description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore</div>
                <div class="price-box"> <span class="price-container"> <span class="price-wrapper"> <span class="price">$190.00</span></span>
                  </span>
                </div>
                <!-- Product Actions -->
                <div class="product-item-actions">
                  <div class="actions-primary">
                    <button class="btn btn-sm btn-invert add-to-cart"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
                  </div>
                </div>
                <!-- /Product Actions -->
              </div>
              <!-- /Product Details -->
            </div>
          </div>
        </div>
        <!-- /Product Item -->
        <!-- Product Item -->
        <div class="product-item large">
          <div class="product-item-inside">
            <div class="product-item-info">
              <!-- Product Photo -->
              <div class="product-item-photo">
                <a href="product.html"> <img class="product-image-photo" src="images/products/product-13.jpg" alt=""> </a>
                <!-- Product Actions -->
                <div class="product-item-actions">
                  <div class="actions-primary">
                    <button class="btn btn-sm btn-invert add-to-cart"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
                  </div>
                  <div class="actions-secondary">
                    <a href="#" class="sharing" title="Link"> <i class="icon icon-share"></i> </a>
                    <a href="quick-view.html" class="quick-view-link" title="Quick View"> <i class="icon icon-eye"></i> </a>
                    <a href="#" title="Compare"> <i class="icon icon-balance"></i> </a>
                    <a href="#" title="Wish List" class="wishlist"> <i class="icon icon-heart"></i> </a>
                  </div>
                  <ul class="social-list">
                    <li>
                      <a href="#" class="icon icon-google google"></a>
                    </li>
                    <li>
                      <a href="#" class="icon icon-fancy fancy"></a>
                    </li>
                    <li>
                      <a href="#" class="icon icon-pinterest pinterest"></a>
                    </li>
                    <li>
                      <a href="#" class="icon icon-twitter-logo twitter"></a>
                    </li>
                    <li>
                      <a href="#" class="icon icon-facebook-logo facebook"></a>
                    </li>
                  </ul>
                </div>
                <!-- /Product Actions -->
              </div>
              <!-- /Product Photo -->
              <!-- Product Details -->
              <div class="product-item-details">
                <div class="product-item-name"> <a title="Style Dome Men's Solid" href="product.html" class="product-item-link">Style Dome Men's Solid</a> </div>
                <div class="product-item-description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore</div>
                <div class="price-box"> <span class="price-container"> <span class="price-wrapper"><span class="price">$149.00</span> </span>
                  </span>
                </div>
                <!-- Product Actions -->
                <div class="product-item-actions">
                  <div class="actions-primary">
                    <button class="btn btn-sm btn-invert add-to-cart"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
                  </div>
                </div>
                <!-- /Product Actions -->
              </div>
              <!-- /Product Details -->
            </div>
          </div>
        </div>
        <!-- Product Item -->
        <div class="product-item large">
          <div class="product-item-inside">
            <div class="product-item-info">
              <!-- Product Photo -->
              <div class="product-item-photo">
                <a href="product.html"> <img class="product-image-photo" src="images/products/product-14.jpg" alt=""> </a>
                <!-- Product Actions -->
                <div class="product-item-actions">
                  <div class="actions-primary">
                    <button class="btn btn-sm btn-invert add-to-cart"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
                  </div>
                  <div class="actions-secondary">
                    <a href="#" class="sharing" title="Link"> <i class="icon icon-share"></i> </a>
                    <a href="quick-view.html" class="quick-view-link" title="Quick View"> <i class="icon icon-eye"></i> </a>
                    <a href="#" title="Compare"> <i class="icon icon-balance"></i> </a>
                    <a href="#" title="Wish List" class="wishlist"> <i class="icon icon-heart"></i> </a>
                  </div>
                  <ul class="social-list">
                    <li>
                      <a href="#" class="icon icon-google google"></a>
                    </li>
                    <li>
                      <a href="#" class="icon icon-fancy fancy"></a>
                    </li>
                    <li>
                      <a href="#" class="icon icon-pinterest pinterest"></a>
                    </li>
                    <li>
                      <a href="#" class="icon icon-twitter-logo twitter"></a>
                    </li>
                    <li>
                      <a href="#" class="icon icon-facebook-logo facebook"></a>
                    </li>
                  </ul>
                </div>
                <!-- /Product Actions -->
              </div>
              <!-- /Product Photo -->
              <!-- Product Details -->
              <div class="product-item-details">
                <div class="product-item-name"> <a title="Vertical stripe shift dress" href="product.html" class="product-item-link">Vertical stripe shift dress</a> </div>
                <div class="product-item-description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore</div>
                <div class="price-box"> <span class="price-container"> <span class="price-wrapper"> <span class="price">$490.00</span></span>
                  </span>
                </div>
                <!-- Product Actions -->
                <div class="product-item-actions">
                  <div class="actions-primary">
                    <button class="btn btn-sm btn-invert add-to-cart"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
                  </div>
                </div>
                <!-- /Product Actions -->
              </div>
              <!-- /Product Details -->
            </div>
          </div>
        </div>
        <!-- /Product Item -->
        <!-- Product Item -->
        <div class="product-item large">
          <div class="product-item-inside">
            <div class="product-item-info">
              <!-- Product Photo -->
              <div class="product-item-photo">
                <a href="product.html"> <img class="product-image-photo" src="images/products/product-10.jpg" alt=""> </a>
                <!-- Product Actions -->
                <div class="product-item-actions">
                  <div class="actions-primary">
                    <button class="btn btn-sm btn-invert add-to-cart"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
                  </div>
                  <div class="actions-secondary">
                    <a href="#" class="sharing" title="Link"> <i class="icon icon-share"></i> </a>
                    <a href="quick-view.html" class="quick-view-link" title="Quick View"> <i class="icon icon-eye"></i> </a>
                    <a href="#" title="Compare"> <i class="icon icon-balance"></i> </a>
                    <a href="#" title="Wish List" class="wishlist"> <i class="icon icon-heart"></i> </a>
                  </div>
                  <ul class="social-list">
                    <li>
                      <a href="#" class="icon icon-google google"></a>
                    </li>
                    <li>
                      <a href="#" class="icon icon-fancy fancy"></a>
                    </li>
                    <li>
                      <a href="#" class="icon icon-pinterest pinterest"></a>
                    </li>
                    <li>
                      <a href="#" class="icon icon-twitter-logo twitter"></a>
                    </li>
                    <li>
                      <a href="#" class="icon icon-facebook-logo facebook"></a>
                    </li>
                  </ul>
                </div>
                <!-- /Product Actions -->
              </div>
              <!-- /Product Photo -->
              <!-- Product Details -->
              <div class="product-item-details">
                <div class="product-item-name"> <a title="Longline asymmetric midi skirt" href="product.html" class="product-item-link">Longline asymmetric midi skirt</a> </div>
                <div class="product-item-description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore</div>
                <div class="price-box"> <span class="price-container"> <span class="price-wrapper"> <span class="price">$220.00</span></span>
                  </span>
                </div>
                <!-- Product Actions -->
                <div class="product-item-actions">
                  <div class="actions-primary">
                    <button class="btn btn-sm btn-invert add-to-cart"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
                  </div>
                </div>
                <!-- /Product Actions -->
              </div>
              <!-- /Product Details -->
            </div>
          </div>
        </div>
        <!-- /Product Item -->
      </div>
    </div>
  </div>
  <div class="block">
    <div class="container">
      <div class="banner style-2 autosize-text" data-fontratio="10"><img src="images/banners/banner-5.jpg" alt="Banner">
        <div class="banner-caption horl vertc">
          <div class="vert-wrapper">
            <div class="vert">
              <div class="text-1">Sexy Style</div>
              <div class="text-2">Designer Shorts</div>
              <div class="text-3">One Sale</div>
              <div class="clearfix">
                <a href="#buttonlink" class="banner-btn-wrap">
                  <div class="banner-btn text-hoverslide" data-hcolor="#ffffff"><span><span class="text">Up Yourself!</span><span class="hoverbg"></span></span>
                  </div>
                </a>
              </div>
              <div class="text-4">Best Dresses For Best Yoy</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="title">
            <h2>New in</h2>
            <div class="toggle-arrow"></div>
            <div class="carousel-arrows"></div>
          </div>
          <div class="product-vertical-carousel product-small-list variant2">
            <!-- Product Small -->
            <div class="product-item small">
              <div class="product-item-inside">
                <!-- Product Photo -->
                <a href="product.html" class="product-item-photo"> <img class="product-image-photo" src="images/products/product-24.jpg" alt=""> </a>
                <!-- /Product Photo -->
                <!-- Product Details -->
                <div class="product-item-details">
                  <div class="product-item-name"> <a title="Tunic style shirt dress" href="product.html" class="product-item-link">Tunic style shirt dress</a> </div>
                  <div class="product-small-item-available"> Availability: <span>Many in stock</span> </div>
                  <div class="product-item-rating"> <i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i> </div>
                  <div class="divider-line"></div>
                  <div class="price-box"> <span class="price-wrapper"><span class="special-price">$48.00</span> </span>
                  </div>
                  <div class="product-item-actions">
                    <button class="btn btn-sm btn-invert add-to-cart"> <i class="icon icon-cart"></i> </button>
                    <button class="btn btn-sm btn-invert active"> <i class="icon icon-heart-1"></i> </button>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <!-- /Product Details -->
              </div>
            </div>
            <!-- /Product Small -->
            <!-- Product Small -->
            <div class="product-item small">
              <div class="product-item-inside">
                <!-- Product Photo -->
                <a href="product.html" class="product-item-photo"> <img class="product-image-photo" src="images/products/product-11.jpg" alt=""> </a>
                <!-- /Product Photo -->
                <!-- Product Details -->
                <div class="product-item-details">
                  <div class="product-item-name"> <a title="Boyfriend Shorts Denim" href="product.html" class="product-item-link">Boyfriend Shorts Denim</a> </div>
                  <div class="product-small-item-available"> Availability: <span>Many in stock</span> </div>
                  <div class="product-item-rating"> <i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i> </div>
                  <div class="divider-line"></div>
                  <div class="price-box"> <span class="price-wrapper"> <span class="old-price">$256.00</span> <span class="special-price">$200.00</span> </span>
                  </div>
                  <div class="product-item-actions">
                    <button class="btn btn-sm btn-invert add-to-cart"> <i class="icon icon-cart"></i> </button>
                    <button class="btn btn-sm btn-invert"> <i class="icon icon-heart-1"></i> </button>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <!-- /Product Details -->
              </div>
            </div>
            <!-- /Product Small -->
            <!-- Product Small -->
            <div class="product-item small">
              <div class="product-item-inside">
                <!-- Product Photo -->
                <a href="product.html" class="product-item-photo"> <img class="product-image-photo" src="images/products/product-12.jpg" alt=""> </a>
                <!-- /Product Photo -->
                <!-- Product Details -->
                <div class="product-item-details">
                  <div class="product-item-name"> <a title="Midi Sleeve Tunic dress" href="product.html" class="product-item-link">Midi Sleeve Tunic dress</a> </div>
                  <div class="product-small-item-available"> Availability: <span>Many in stock</span> </div>
                  <div class="product-item-rating"> <i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i> </div>
                  <div class="divider-line"></div>
                  <div class="price-box"> <span class="price-wrapper"> <span class="price">$90.00</span> </span>
                  </div>
                  <div class="product-item-actions">
                    <button class="btn btn-sm btn-invert add-to-cart"> <i class="icon icon-cart"></i> </button>
                    <button class="btn btn-sm btn-invert"> <i class="icon icon-heart-1"></i> </button>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <!-- /Product Details -->
              </div>
            </div>
            <!-- /Product Small -->
            <!-- Product Small -->
            <div class="product-item small">
              <div class="product-item-inside">
                <!-- Product Photo -->
                <a href="product.html" class="product-item-photo"> <img class="product-image-photo" src="images/products/product-13.jpg" alt=""> </a>
                <!-- /Product Photo -->
                <!-- Product Details -->
                <div class="product-item-details">
                  <div class="product-item-name"> <a title="Style Dome Men's Solid Red Color" href="product.html" class="product-item-link">Style Dome Men's Solid Red Color</a> </div>
                  <div class="product-small-item-available"> Availability: <span>Many in stock</span> </div>
                  <div class="product-item-rating"> <i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i> </div>
                  <div class="divider-line"></div>
                  <div class="price-box"> <span class="price-wrapper"> <span class="price">$256.00</span></span>
                  </div>
                  <div class="product-item-actions">
                    <button class="btn btn-sm btn-invert add-to-cart"> <i class="icon icon-cart"></i> </button>
                    <button class="btn btn-sm btn-invert"> <i class="icon icon-heart-1"></i> </button>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <!-- /Product Details -->
              </div>
            </div>
            <!-- /Product Small -->
          </div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8">
          <div class="title">
            <h2>Advantages</h2>
          </div>
          <div class="bottom-space">
            <div class="row">
              <div class="col-sm-6 col-md-4">
                <div class="box-left-icon">
                  <div class="box-icon rounded"><i class="icon icon-raketa"></i></div>
                  <div class="box-text">
                    <div class="title">FASTEST SHIPPING</div>
                    2 Days Express
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="box-left-icon">
                  <div class="box-icon rounded"><i class="icon icon-plane"></i></div>
                  <div class="box-text">
                    <div class="title">FREE DELIVERY</div>
                    On Orders Above $99
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="box-left-icon">
                  <div class="box-icon rounded"><i class="icon icon-gift"></i></div>
                  <div class="box-text">
                    <div class="title">+15.000 Products</div>
                    Best for Men & Women
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="box-left-icon">
                  <div class="box-icon rounded"><i class="icon icon-star"></i></div>
                  <div class="box-text">
                    <div class="title">More 400 Brands</div>
                    Medela, Farlin, Combi,etc
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="box-left-icon">
                  <div class="box-icon rounded"><i class="icon icon-like"></i></div>
                  <div class="box-text">
                    <div class="title">30 DAYS RETURN</div>
                    Policy We offers
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="box-left-icon">
                  <div class="box-icon rounded"><i class="icon icon-diamant"></i></div>
                  <div class="box-text">
                    <div class="title">SPECIAL OFFERS</div>
                    Shop Big Save Big
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="title">
            <h2>Top Brands</h2>
            <div class="toggle-arrow"></div>
            <div class="carousel-arrows"></div>
          </div>
          <div class="brand-grid brand-carousel white-bg">
            <a href="#" class="brand-item"><img src="images/brands/brand-01.png" alt="Brand Logo"></a>
            <a href="#" class="brand-item"><img src="images/brands/brand-02.png" alt="Brand Logo"></a>
            <a href="#" class="brand-item"><img src="images/brands/brand-03.png" alt="Brand Logo"></a>
            <a href="#" class="brand-item"><img src="images/brands/brand-04.png" alt="Brand Logo"></a>
            <a href="#" class="brand-item"><img src="images/brands/brand-05.png" alt="Brand Logo"></a>
            <a href="#" class="brand-item"><img src="images/brands/brand-06.png" alt="Brand Logo"></a>
            <a href="#" class="brand-item"><img src="images/brands/brand-07.png" alt="Brand Logo"></a>
            <a href="#" class="brand-item"><img src="images/brands/brand-08.png" alt="Brand Logo"></a>
            <a href="#" class="brand-item"><img src="images/brands/brand-09.png" alt="Brand Logo"></a>
            <a href="#" class="brand-item"><img src="images/brands/brand-10.png" alt="Brand Logo"></a>
            <a href="#" class="brand-item"><img src="images/brands/brand-11.png" alt="Brand Logo"></a>
            <a href="#" class="brand-item"><img src="images/brands/brand-12.png" alt="Brand Logo"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- /Page Content -->
