<main class="page-main">
  <div class="block">
    <div class="container">
      <ul class="breadcrumbs">
        <li><a href="index.html"><i class="icon icon-home"></i></a></li>
        <li>/<a href="#">Women</a></li>
        <li>/<span>Black swimsuit with bindings</span></li>
        <li class="product-nav">
          <i class="icon icon-angle-left"></i><a href="#" class="product-nav-prev">prev product
            <span class="product-nav-preview">
              <span class="image"><img src="images/products/product-prev-preview.jpg" alt=""><span class="price">$280</span></span>
              <span class="name">Black swimsuit</span>
            </span></a>/
          <a href="#" class="product-nav-next">next product
            <span class="product-nav-preview">
              <span class="image"><img src="images/products/product-next-preview.jpg" alt=""><span class="price">$280</span></span>
              <span class="name">Black swimsuit</span>
            </span></a><i class="icon icon-angle-right"></i>
        </li>
      </ul>
    </div>
  </div>
  <div class="block product-block">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-4">
          <!-- Product Gallery -->
          <div class="main-image">
            <img src="images/products/large/product-gallery-1.jpg" class="zoom" alt="" data-zoom-image="images/products/large/product-gallery-1.jpg" />
            <div class="dblclick-text"><span>Double click for enlarge</span></div>
            <a href="http://www.youtube.com/watch?v=qZeeMm35LXo" class="video-link"><i class="icon icon-film"></i></a>
            <a href="images/products/large/product-gallery-1.jpg" class="zoom-link"><i class="icon icon-zoomin"></i></a>
          </div>
          <div class="product-previews-wrapper">
            <div class="product-previews-carousel" id="previewsGallery">
              <a href="#" data-image="images/products/large/product-gallery-1.jpg" data-zoom-image="images/products/large/product-gallery-1.jpg"><img src="images/products/product-gallery-1.jpg" alt="" /></a>
              <a href="#" data-image="images/products/large/product-gallery-2.jpg" data-zoom-image="images/products/large/product-gallery-2.jpg"><img src="images/products/product-gallery-2.jpg" alt="" /></a>
              <a href="#" data-image="images/products/large/product-gallery-3.jpg" data-zoom-image="images/products/large/product-gallery-3.jpg"><img src="images/products/product-gallery-3.jpg" alt="" /></a>

            </div>
          </div>
          <!-- /Product Gallery -->
        </div>
        <div class="col-sm-6 col-md-6 col-lg-5">
          <div class="product-info-block classic">
            <div class="product-info-top">
              <div class="product-sku">SKU: <span>Stock Keeping Unit</span></div>
              <div class="rating">
                <i class="icon icon-star fill"></i><i class="icon icon-star fill"></i><i class="icon icon-star fill"></i><i class="icon icon-star fill"></i><i class="icon icon-star"></i><span class="count">248 reviews</span>
              </div>
            </div>
            <div class="product-name-wrapper">
              <h1 class="product-name">Cover up tunic</h1>
              <div class="product-labels">
                <span class="product-label sale">SALE</span>
                <span class="product-label new">NEW</span>
              </div>
            </div>
            <div class="product-availability">Availability: <span>In stock</span></div>
            <div class="product-description">
              <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore </p>
            </div>
            <div class="countdown-circle hidden-xs">
              <div class="countdown-wrapper">
                <div class="countdown" data-promoperiod="100000000"></div>
                <div class="countdown-text">
                  <div class="text1">Discount 45% OFF</div>
                  <div class="text2">Hurry, there are only <span>14</span> item(s) left!</div>
                </div>
              </div>
            </div>
            <div class="product-options">
              <div class="product-size swatches">
                <span class="option-label">Size:</span>
                <div class="select-wrapper-sm">
                  <select class="form-control input-sm size-variants">
                    <option value="36">36 - $114.00 USD</option>
                    <option value="38" selected>38 - $114.00 USD</option>
                    <option value="40">40 - $114.00 USD</option>
                    <option value="42">42 - $114.00 USD</option>
                  </select>
                </div>
                <ul class="size-list">
                  <li class="absent-option"><a href="#" data-value='36'><span class="value">36</span></a></li>
                  <li><a href="#" data-value='38'><span class="value">38</span></a></li>
                  <li><a href="#" data-value='40'><span class="value">40</span></a></li>
                  <li><a href="#" data-value='42'><span class="value">42</span></a></li>
                </ul>
              </div>
              <div class="product-color swatches">
                <span class="option-label">Color:</span>
                <div class="select-wrapper-sm">
                  <select class="form-control input-sm">
                    <option value="Red">Red</option>
                    <option value="Green">Green</option>
                    <option value="Blue" selected>Blue</option>
                    <option value="Yellow">Yellow</option>
                    <option value="Grey">Grey</option>
                    <option value="Violet">Violet</option>
                  </select>
                </div>
                <ul class="color-list">
                  <li class="absent-option"><a href="#" data-toggle="tooltip" data-placement="top" title="Red" data-value="Red" data-image="images/products/product-color-red.jpg"><span class="value"><img src="images/colorswatch/color-red.png" alt=""></span></a></li>
                  <li><a href="#" data-toggle="tooltip" data-placement="top" title="Pink" data-value="Green" data-image="images/products/product-color-green.jpg"><span class="value"><img src="images/colorswatch/color-green.png" alt=""></span></a></li>
                  <li><a href="#" data-toggle="tooltip" data-placement="top" title="Marine" data-value="Blue" data-image="images/products/product-color-blue.jpg"><span class="value"><img src="images/colorswatch/color-blue.png" alt=""></span></a></li>
                  <li><a href="#" data-toggle="tooltip" data-placement="top" title="Orange" data-value="yellow" data-image="images/products/product-color-yellow.jpg"><span class="value"><img src="images/colorswatch/color-yellow.png" alt=""></span></a></li>
                  <li><a href="#" data-toggle="tooltip" data-placement="top" title="Orange" data-value="grey" data-image="images/products/product-color-grey.jpg"><span class="value"><img src="images/colorswatch/color-grey.png" alt=""></span></a></li>
                  <li><a href="#" data-toggle="tooltip" data-placement="top" title="Orange" data-value="grey" data-image="images/products/product-color-violet.jpg"><span class="value"><img src="images/colorswatch/color-violet.png" alt=""></span></a></li>
                </ul>
              </div>
              <div class="product-qty">
                <span class="option-label">Qty:</span>
                <div class="qty qty-changer">
                  <fieldset>
                    <input type="button" value="&#8210;" class="decrease">
                    <input type="text" class="qty-input" value="2" data-min="0">
                    <input type="button" value="+" class="increase">
                  </fieldset>
                </div>
              </div>
            </div>
            <div class="product-actions">
              <div class="row">
                <div class="col-md-6">
                  <div class="product-meta">
                    <span><a href="#"><i class="icon icon-heart"></i> Add to wishlist</a></span>
                    <span><a href="#"><i class="icon icon-balance"></i> Add to Compare</a></span>
                  </div>
                  <div class="social">
                    <div class="share-button toLeft">
                      <span class="toggle">Share</span>
                      <ul class="social-list">
                        <li>
                          <a href="#" class="icon icon-google google"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-fancy fancy"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-pinterest pinterest"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-twitter-logo twitter"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-facebook-logo facebook"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="price">
                    <span class="old-price"><span>$140.00</span></span>
                    <span class="special-price"><span>$114.00</span></span>
                  </div>
                  <div class="actions">
                    <button data-loading-text='<i class="icon icon-spinner spin"></i><span>Add to cart</span>' class="btn btn-lg btn-loading"><i class="icon icon-cart"></i><span>Add to cart</span></button>
                    <a href="#" class="btn btn-lg product-details"><i class="icon icon-external-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-3 hidden-quickview">
          <div class="box-icon-row">
            <div class="box-left-icon-bg">
              <div class="box-icon"><i class="icon icon-gift"></i></div>
              <div class="box-text">
                <div class="title">Special offer: 1+2=4</div>
                Get a gift!
              </div>
            </div>
            <div class="box-left-icon-bg">
              <div class="box-icon"><i class="icon icon-dollar-bills"></i></div>
              <div class="box-text">
                <div class="title">Free Reward Card</div>
                Worth $10, $50, $100
              </div>
            </div>
            <div class="box-left-icon-bg">
              <div class="box-icon"><i class="icon icon-undo"></i></div>
              <div class="box-text">
                <div class="title">Order return</div>
                Returns within 5 days
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="tabaccordion">
      <div class="container">
        <!-- Nav tabs -->
        <ul class="nav-tabs product-tab" role="tablist">
          <li><a href="#Tab1" role="tab" data-toggle="tab">Description</a></li>
          <li><a href="#Tab2" role="tab" data-toggle="tab">Custom tab</a></li>
          <li><a href="#Tab3" role="tab" data-toggle="tab">Sizing Guide</a></li>
          <li><a href="#Tab4" role="tab" data-toggle="tab">Tags</a></li>
          <li><a href="#Tab5" role="tab" data-toggle="tab">Reviews</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane" id="Tab1">
            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful</p>
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <tbody>
                  <tr>
                    <td><strong>PROOF</strong></td>
                    <td>PDF Proof</td>
                  </tr>
                  <tr>
                    <td><strong>SAMPLES</strong></td>
                    <td>Digital, Printed</td>
                  </tr>
                  <tr>
                    <td><strong>WRAPPING</strong></td>
                    <td>Yes, No</td>
                  </tr>
                  <tr>
                    <td><strong>UV GLOSS COATING</strong></td>
                    <td>Yes</td>
                  </tr>
                  <tr>
                    <td><strong>SHRINK WRAPPING</strong></td>
                    <td>No Shrink Wrapping, Shrink in 25s, Shrink in 50s, Shrink in 100s</td>
                  </tr>
                  <tr>
                    <td><strong>WEIGHT</strong></td>
                    <td>0.05, 0.06, 0.07ess cards</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="Tab2">
            <h3 class="custom-color">Take a trivial example which of us ever undertakes</h3>
            <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure </p>
            <ul class="marker-simple-list two-columns">
              <li>Nam liberempore</li>
              <li>Cumsoluta nobisest</li>
              <li>Eligendptio cumque</li>
              <li>Nam liberempore</li>
              <li>Cumsoluta nobisest</li>
              <li>Eligendptio cumque</li>
            </ul>
          </div>
          <div role="tabpanel" class="tab-pane" id="Tab3">
            <h3>Single Size Conversion</h3>
            <div class="table-responsive">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td><strong>UK</strong></td>
                    <td>
                      <ul class="params-row">
                        <li>18</li>
                        <li>20</li>
                        <li>22</li>
                        <li>24</li>
                        <li>26</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>European</strong></td>
                    <td>
                      <ul class="params-row">
                        <li>46</li>
                        <li>48</li>
                        <li>50</li>
                        <li>52</li>
                        <li>54</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>US</strong></td>
                    <td>
                      <ul class="params-row">
                        <li>14</li>
                        <li>16</li>
                        <li>18</li>
                        <li>20</li>
                        <li>22</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>Australia</strong></td>
                    <td>
                      <ul class="params-row">
                        <li>8</li>
                        <li>10</li>
                        <li>12</li>
                        <li>14</li>
                        <li>16</li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="Tab4">
            <ul class="tags">
              <li><a href="#"><span class="value"><span>Dresses</span></span></a></li>
              <li><a href="#"><span class="value"><span>Outerwear</span></span></a></li>
              <li><a href="#"><span class="value"><span>Tops</span></span></a></li>
              <li><a href="#"><span class="value"><span>Sleeveless tops</span></span></a></li>
              <li><a href="#"><span class="value"><span>Sweaters</span></span></a></li>
            </ul>
            <div class="divider"></div>
            <h3>Add your tag</h3>
            <form class="contact-form white" action="#">
              <label>Tag<span class="required">*</span></label>
              <input class="form-control input-lg">
              <div>
                <button class="btn btn-lg">Submit Tag</button>
              </div>
              <div class="required-text">* Required Fields</div>
            </form>
          </div>
          <div role="tabpanel" class="tab-pane" id="Tab5">
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <td></td>
                    <td class="text-center">1 star</td>
                    <td class="text-center">2 star</td>
                    <td class="text-center">3 star</td>
                    <td class="text-center">4 star</td>
                    <td class="text-center">5 star</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><strong>Price</strong></td>
                    <td class="text-center">
                      <label class="radio">
                        <input id="vote-price1" type="radio" name="vote-price" value="1"><span class="outer"><span class="inner"></span></span>
                      </label>
                    </td>
                    <td class="text-center">
                      <label class="radio">
                        <input id="vote-price2" type="radio" name="vote-price" value="2"><span class="outer"><span class="inner"></span></span>
                      </label>
                    </td>
                    <td class="text-center">
                      <label class="radio">
                        <input id="vote-price3" type="radio" name="vote-price" value="3"><span class="outer"><span class="inner"></span></span>
                      </label>
                    </td>
                    <td class="text-center">
                      <label class="radio">
                        <input id="vote-price4" type="radio" name="vote-price" value="4"><span class="outer"><span class="inner"></span></span>
                      </label>
                    </td>
                    <td class="text-center">
                      <label class="radio">
                        <input id="vote-price5" type="radio" name="vote-price" value="5"><span class="outer"><span class="inner"></span></span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>Value</strong></td>
                    <td class="text-center">
                      <label class="radio">
                        <input id="vote-value1" type="radio" name="vote-value" value="1"><span class="outer"><span class="inner"></span></span>
                      </label>
                    </td>
                    <td class="text-center">
                      <label class="radio">
                        <input id="vote-value2" type="radio" name="vote-value" value="2"><span class="outer"><span class="inner"></span></span>
                      </label>
                    </td>
                    <td class="text-center">
                      <label class="radio">
                        <input id="vote-value3" type="radio" name="vote-value" value="3"><span class="outer"><span class="inner"></span></span>
                      </label>
                    </td>
                    <td class="text-center">
                      <label class="radio">
                        <input id="vote-value4" type="radio" name="vote-value" value="4"><span class="outer"><span class="inner"></span></span>
                      </label>
                    </td>
                    <td class="text-center">
                      <label class="radio">
                        <input id="vote-value5" type="radio" name="vote-value" value="5"><span class="outer"><span class="inner"></span></span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>Quality</strong></td>
                    <td class="text-center">
                      <label class="radio">
                        <input id="vote-quality1" type="radio" name="vote-quality" value="1"><span class="outer"><span class="inner"></span></span>
                      </label>
                    </td>
                    <td class="text-center">
                      <label class="radio">
                        <input id="vote-quality2" type="radio" name="vote-quality" value="2"><span class="outer"><span class="inner"></span></span>
                      </label>
                    </td>
                    <td class="text-center">
                      <label class="radio">
                        <input id="vote-quality3" type="radio" name="vote-quality" value="3"><span class="outer"><span class="inner"></span></span>
                      </label>
                    </td>
                    <td class="text-center">
                      <label class="radio">
                        <input id="vote-quality4" type="radio" name="vote-quality" value="4"><span class="outer"><span class="inner"></span></span>
                      </label>
                    </td>
                    <td class="text-center">
                      <label class="radio">
                        <input id="vote-quality5" type="radio" name="vote-quality" value="5"><span class="outer"><span class="inner"></span></span>
                      </label>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <h3>Add new review</h3>
            <form class="contact-form white" action="#">
              <label>Review<span class="required">*</span></label>
              <textarea class="form-control input-lg"></textarea>
              <div>
                <button class="btn btn-lg">Submit Review</button>
              </div>
              <div class="required-text">* Required Fields</div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <!-- Blog Carousel -->
          <div class="title">
            <h2>From Blog</h2>
            <div class="carousel-arrows"></div>
          </div>
          <!-- Blog Carousel Item -->
          <div class="blog-carousel">
            <div class="blog-item">
              <a href="blog.html" class="blog-item-photo"> <img class="product-image-photo" src="images/blog/blog-1.jpg" alt="From Blog"> </a>
              <div class="blog-item-info">
                <a href="blog.html" class="blog-item-title">Inventore consectetur ullam</a>
                <div class="blog-item-teaser">Repellat aspernatur esse minus. Molestiae ipsum earum, aspernatur fugit veniam ducimus doloremque repellat suscipit. Cumque!</div>
                <div class="blog-item-links"> <span class="pull-left"> <span><a href="#" class="readmore">Read more</a></span> </span> <span class="pull-right"> <span>Post by <a href="#">Admin</a></span> </span>
                </div>
              </div>
            </div>
            <!-- /Blog Carousel Item -->
            <!-- Blog Carousel Item -->
            <div class="blog-item">
              <a href="blog.html" class="blog-item-photo"> <img class="product-image-photo" src="images/blog/blog-2.jpg" alt="From Blog"> </a>
              <div class="blog-item-info">
                <a href="blog.html" class="blog-item-title">Aperiam, vero facilis</a>
                <div class="blog-item-teaser">Commodo delectus consequuntur consectetur culpa ea doloremque repellat laoreet semper tincidunt lorem Euismod euismod Suspendisse </div>
                <div class="blog-item-links"> <span class="pull-left"> <span><a href="#" class="readmore">Read more</a></span> </span> <span class="pull-right"> <span>Post by <a href="#">Admin</a></span> </span>
                </div>
              </div>
            </div>
            <!-- /Blog Carousel Item -->
            <!-- Blog Carousel Item -->
            <div class="blog-item">
              <a href="blog.html" class="blog-item-photo"> <img class="product-image-photo" src="images/blog/blog-3.jpg" alt="From Blog"> </a>
              <div class="blog-item-info">
                <a href="blog.html" class="blog-item-title">Repellat aspernatur</a>
                <div class="blog-item-teaser">Omnis, nihil hic ratione culpa atque ipsum repellat quaerat impedit, ipsam odio delectus consequuntur consectetur culpa ea doloremque repellat</div>
                <div class="blog-item-links"> <span class="pull-left"> <span><a href="#" class="readmore">Read more</a></span> </span> <span class="pull-right"> <span>Post by <a href="#">Admin</a></span> </span>
                </div>
              </div>
            </div>
            <!-- /Blog Carousel Item -->
            <!-- Blog Carousel Item -->
            <div class="blog-item">
              <a href="blog.html" class="blog-item-photo"> <img class="product-image-photo" src="images/blog/blog-4.jpg" alt="From Blog"> </a>
              <div class="blog-item-info">
                <a href="blog.html" class="blog-item-title">Commodo laoreet tincidunt</a>
                <div class="blog-item-teaser">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi provident earum minus delectus voluptatum asperiores consectetur culpa ea doloremque</div>
                <div class="blog-item-links"> <span class="pull-left"> <span><a href="#" class="readmore">Read more</a></span> </span> <span class="pull-right"><span>Post by <a href="#">Admin</a></span> </span>
                </div>
              </div>
            </div>
            <!-- /Blog Carousel Item -->
          </div>
          <!-- /Blog Carousel -->
        </div>
        <div class="col-md-6">
          <!-- Deal Carousel -->
          <div class="title">
            <h2 class="custom-color">Deal of the day</h2>
            <div class="toggle-arrow"></div>
            <div class="carousel-arrows"></div>
          </div>
          <div class="collapsed-content">
            <div class="deal-carousel-2 products-grid product-variant-5">
              <!-- Product Item -->
              <div class="product-item large">
                <div class="product-item-inside">
                  <div class="product-item-info">
                    <!-- Product Photo -->
                    <div class="product-item-photo">
                      <!-- Product Label -->
                      <div class="product-item-label label-new"><span>New</span></div>
                      <!-- /Product Label -->
                      <div class="product-item-gallery">
                        <!-- product main photo -->
                        <div class="product-item-gallery-main">
                          <a href="#"><img class="product-image-photo" src="images/products/product-13.jpg" alt=""></a>
                          <a href="quick-view.html" title="Quick View" class="quick-view-link quick-view-btn"> <i class="icon icon-eye"></i><span>Quick View</span></a>
                        </div>
                        <!-- /product main photo  -->
                      </div>
                      <!-- Product Actions -->
                      <a href="#" title="Add to Wishlist" class="no_wishlist"> <i class="icon icon-heart"></i><span>Add to Wishlist</span> </a>
                      <div class="product-item-actions">
                        <div class="share-button toBottom">
                          <span class="toggle"></span>
                          <ul class="social-list">
                            <li>
                              <a href="#" class="icon icon-google google"></a>
                            </li>
                            <li>
                              <a href="#" class="icon icon-fancy fancy"></a>
                            </li>
                            <li>
                              <a href="#" class="icon icon-pinterest pinterest"></a>
                            </li>
                            <li>
                              <a href="#" class="icon icon-twitter-logo twitter"></a>
                            </li>
                            <li>
                              <a href="#" class="icon icon-facebook-logo facebook"></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- /Product Actions -->
                    </div>
                    <!-- /Product Photo -->
                    <!-- Product Details -->
                    <div class="product-item-details">
                      <div class="product-item-name"> <a title="Style Dome Men's Solid Red Color" href="product.html" class="product-item-link">Style Dome Men's Solid Red Color</a> </div>
                      <div class="product-item-description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore</div>
                      <div class="price-box"> <span class="price-container"> <span class="price-wrapper"><span class="price">$359.00</span> </span>
                        </span>
                      </div>
                      <div class="product-item-rating"> <i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i></div>
                      <button class="btn add-to-cart" data-product="789123"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
                    </div>
                    <!-- /Product Details -->
                  </div>
                </div>
              </div>
              <!-- /Product Item -->
              <!-- Product Item -->
              <div class="product-item previews-3 large">
                <div class="product-item-inside">
                  <div class="product-item-info">
                    <!-- Product Photo -->
                    <div class="product-item-photo">
                      <!-- Product Label -->
                      <div class="product-item-label label-new"><span>New</span></div>
                      <div class="product-item-label label-sale"><span>-20%</span></div>
                      <!-- /Product Label -->
                      <!-- product main photo -->
                      <div class="product-item-gallery-main">
                        <a href="#"><img class="product-image-photo" src="images/products/product-11-1.jpg" alt=""></a>
                        <a href="quick-view.html" title="Quick View" class="quick-view-link quick-view-btn"> <i class="icon icon-eye"></i><span>Quick View</span></a>
                      </div>
                      <!-- /product main photo  -->
                      <!-- Product Actions -->
                      <a href="#" title="Add to Wishlist" class="no_wishlist"> <i class="icon icon-heart"></i><span>Add to Wishlist</span> </a>
                      <div class="product-item-actions">
                        <div class="share-button toBottom">
                          <span class="toggle"></span>
                          <ul class="social-list">
                            <li>
                              <a href="#" class="icon icon-google google"></a>
                            </li>
                            <li>
                              <a href="#" class="icon icon-fancy fancy"></a>
                            </li>
                            <li>
                              <a href="#" class="icon icon-pinterest pinterest"></a>
                            </li>
                            <li>
                              <a href="#" class="icon icon-twitter-logo twitter"></a>
                            </li>
                            <li>
                              <a href="#" class="icon icon-facebook-logo facebook"></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- /Product Actions -->
                      <!-- product carousel -->
                      <div class="product-item-gallery-previews-wrapper">
                        <div class="product-item-gallery-previews">
                          <div class="item">
                            <a href="#"><img src="images/products/product-11.jpg" alt=""></a>
                          </div>
                          <div class="item">
                            <a href="#"><img src="images/products/product-11-1.jpg" alt=""></a>
                          </div>
                          <div class="item">
                            <a href="#"><img src="images/products/product-11-2.jpg" alt=""></a>
                          </div>
                        </div>
                        <div class="carousel-arrows"></div>
                      </div>
                      <!-- /product carousel -->
                    </div>
                    <!-- /Product Photo -->
                    <!-- Product Details -->
                    <div class="product-item-details">
                      <div class="product-item-name"> <a title="Boyfriend Shorts Denim" href="product.html" class="product-item-link">Boyfriend Shorts Denim</a> </div>
                      <div class="product-item-description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore</div>
                      <div class="price-box"> <span class="price-container"> <span class="price-wrapper"> <span class="old-price">$190.00</span> <span class="special-price">$149.00</span> </span>
                        </span>
                      </div>
                      <div class="product-item-rating"> <i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i></div>
                      <button class="btn add-to-cart" data-product="789123"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
                    </div>
                    <!-- /Product Details -->
                  </div>
                </div>
              </div>
              <!-- /Product Item -->
              <!-- Product Item -->
              <div class="product-item large">
                <div class="product-item-inside">
                  <div class="product-item-info">
                    <!-- Product Photo -->
                    <div class="product-item-photo">
                      <!-- product main photo -->
                      <div class="product-item-gallery-main">
                        <a href="#"><img class="product-image-photo" src="images/products/product-19.jpg" alt=""></a>
                        <a href="quick-view.html" title="Quick View" class="quick-view-link quick-view-btn"> <i class="icon icon-eye"></i><span>Quick View</span></a>
                      </div>
                      <!-- /product main photo  -->
                      <!-- Product Label -->
                      <div class="product-item-label label-new"><span>New</span></div>
                      <!-- /Product Label -->
                      <!-- Product Actions -->
                      <a href="#" title="Add to Wishlist" class="wishlist active"> <i class="icon icon-heart"></i><span>Add to Wishlist</span> </a>
                      <div class="product-item-actions">
                        <div class="share-button toBottom">
                          <span class="toggle"></span>
                          <ul class="social-list">
                            <li>
                              <a href="#" class="icon icon-google google"></a>
                            </li>
                            <li>
                              <a href="#" class="icon icon-fancy fancy"></a>
                            </li>
                            <li>
                              <a href="#" class="icon icon-pinterest pinterest"></a>
                            </li>
                            <li>
                              <a href="#" class="icon icon-twitter-logo twitter"></a>
                            </li>
                            <li>
                              <a href="#" class="icon icon-facebook-logo facebook"></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- /Product Actions -->
                      <!-- product carousel -->
                      <div class="product-item-gallery-previews-wrapper">
                        <div class="product-item-gallery-previews">
                          <div class="item">
                            <a href="#"><img src="images/products/product-19.jpg" alt=""></a>
                          </div>
                          <div class="item">
                            <a href="#"><img src="images/products/product-19-1.jpg" alt=""></a>
                          </div>
                          <div class="item">
                            <a href="#"><img src="images/products/product-19-2.jpg" alt=""></a>
                          </div>
                          <div class="item">
                            <a href="#"><img src="images/products/product-19-3.jpg" alt=""></a>
                          </div>
                        </div>
                        <div class="carousel-arrows"></div>
                      </div>
                      <!-- /product carousel -->
                      <ul class="color-swatch hidden-xs">
                        <li class="active">
                          <a data-image="images/products/product-19.jpg" href="#"><img src="images/colorswatch/color-yellow.png" alt="Yellow"></a>
                        </li>
                        <li>
                          <a data-image="images/products/product-19-c1.jpg" href="#"><img src="images/colorswatch/color-blue.png" alt="Blue"></a>
                        </li>
                        <li>
                          <a data-image="images/products/product-19-c2.jpg" href="#"><img src="images/colorswatch/color-red.png" alt="Red"></a>
                        </li>
                        <li>
                          <a data-image="images/products/product-19-c3.jpg" href="#"><img src="images/colorswatch/color-grey.png" alt="Grey"></a>
                        </li>
                        <li>
                          <a data-image="images/products/product-19-c4.jpg" href="#"><img src="images/colorswatch/color-green.png" alt="Green"></a>
                        </li>
                        <li>
                          <a data-image="images/products/product-19-c5.jpg" href="#"><img src="images/colorswatch/color-violet.png" alt="Violet"></a>
                        </li>
                      </ul>
                    </div>
                    <!-- /Product Photo -->
                    <!-- Product Details -->
                    <div class="product-item-details">
                      <div class="product-item-name"> <a title="Cover up tunic" href="product.html" class="product-item-link">Cover up tunic</a></div>
                      <div class="product-item-description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore</div>
                      <div class="price-box"> <span class="price-container"> <span class="price-wrapper"> <span class="price">$110.00</span></span>
                        </span>
                      </div>
                      <div class="product-item-rating"> <i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i></div>
                      <button class="btn add-to-cart" data-product="789123"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
                    </div>
                    <!-- /Product Details -->
                  </div>
                </div>
              </div>
              <!-- /Product Item -->

            </div>
          </div>
          <!-- /Deal Carousel -->
        </div>
      </div>
    </div>
  </div>
</main>
