<main class="page-main">
  <div class="block">
    <div class="container">
      <ul class="breadcrumbs">
        <li><a href="index.html"><i class="icon icon-home"></i></a></li>
        <li>/<span>Faq</span></li>
      </ul>
    </div>
  </div>
  <div class="block">
    <div class="container">
      <div class="form-card">
        <h3>Personal Information</h3>
        <form class="account-create" action="#">
          <label>First Name<span class="required">*</span></label>
          <input type="text" class="form-control input-lg">
          <label>Last Name<span class="required">*</span></label>
          <input type="text" class="form-control input-lg">
          <label>E-mail<span class="required">*</span></label>
          <input type="text" class="form-control input-lg">
          <label>Password<span class="required">*</span></label>
          <input type="password" class="form-control input-lg">
          <div>
            <button class="btn btn-lg">Create</button><span class="required-text">* Required Fields</span></div>
          <div class="back">or <a href="#">Return to Store <i class="icon icon-undo"></i></a></div>
        </form>
      </div>
    </div>
  </div>
</main>
