<main class="page-main">
  <div class="block">
    <div class="container">
      <ul class="breadcrumbs">
        <li><a href="index.html"><i class="icon icon-home"></i></a></li>
        <li>/<span>Search</span></li>
      </ul>
    </div>
  </div>
  <div class="block">
    <div class="container">
      <div class="h2-style">Your search for "dress" revealed the following:</div>
      <form class="search-form white">
        <div class="row">
          <div class="col-xs-12">
            <div class="input-group input-group-lg">
              <input type="text" class="form-control" />
              <div class="input-group-btn">
                <button type="submit" class="btn">Search</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="block bottom-space">
    <div class="container">
      <div class="products-grid four-in-row product-variant-5">
          <!-- Product Item -->
          <div class="product-item large colorvariants category2">
            <div class="product-item-inside">
              <div class="product-item-info">
                <!-- Product Photo -->
                <div class="product-item-photo">
                  <!-- Product Label -->
                  <div class="product-item-label label-sale"><span>-20%</span></div>
                  <!-- /Product Label -->
                  <!-- product main photo -->
                  <div class="product-item-gallery-main">
                    <a href="#"><img class="product-image-photo" src="images/products/product-16-c1.jpg" alt=""></a>
                    <a href="quick-view.html" title="Quick View" class="quick-view-link quick-view-btn"> <i class="icon icon-eye"></i><span>Quick View</span></a>
                  </div>
                  <!-- /product main photo  -->
                  <div class="countdown-box hidden-xs">
                    <div class="countdown-wrapper">
                      <div class="countdown-title">special price expires in</div>
                      <div class="countdown" data-promodate="2016/12/01"></div>
                    </div>
                  </div>
                  <!-- Product Actions -->
                  <a href="#" title="Add to Wishlist" class="wishlist active"> <i class="icon icon-heart"></i><span>Add to Wishlist</span> </a>
                  <div class="product-item-actions">
                    <div class="share-button toBottom">
                      <span class="toggle"></span>
                      <ul class="social-list">
                        <li>
                          <a href="#" class="icon icon-google google"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-fancy fancy"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-pinterest pinterest"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-twitter-logo twitter"></a>
                        </li>
                        <li>
                          <a href="#" class="icon icon-facebook-logo facebook"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- /Product Actions -->
                  <ul class="color-swatch hidden-xs">
                    <li class="active">
                      <a data-image="images/products/product-16-c1.jpg" href="#"><img src="images/colorswatch/color-blue.png" alt="Blue"></a>
                    </li>
                    <li>
                      <a data-image="images/products/product-16-c2.jpg" href="#"><img src="images/colorswatch/color-grey.png" alt="Gray"></a>
                    </li>
                    <li>
                      <a data-image="images/products/product-16-c3.jpg" href="#"><img src="images/colorswatch/color-red.png" alt="Red"></a>
                    </li>
                    <li>
                      <a data-image="images/products/product-16-c4.jpg" href="#"><img src="images/colorswatch/color-violet.png" alt="Violet"></a>
                    </li>
                    <li>
                      <a data-image="images/products/product-16-c5.jpg" href="#"><img src="images/colorswatch/color-green.png" alt="Green"></a>
                    </li>
                  </ul>
                                      </div>
                <!-- /Product Photo -->
                <!-- Product Details -->
                <div class="product-item-details">
                  <div class="product-item-name"> <a title="Long sleeve overall" href="product.html" class="product-item-link">Long sleeve overall</a></div>
                  <div class="product-item-description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore</div>
                  <div class="price-box"> <span class="price-container"> <span class="price-wrapper"> <span class="old-price">$190.00</span> <span class="special-price">$149.00</span> </span>
                    </span>
                  </div>
                  <div class="product-item-rating"> <i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i></div>
                  <button class="btn add-to-cart" data-product="789123"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
                </div>
                <!-- /Product Details -->
              </div>
            </div>
          </div>
          <!-- /Product Item -->
        <!-- Product Item -->
        <div class="product-item large category1">
          <div class="product-item-inside">
            <div class="product-item-info">
              <!-- Product Photo -->
              <div class="product-item-photo">
                <!-- Product Label -->
                <div class="product-item-label label-new"><span>New</span></div>
                <!-- /Product Label -->
                <!-- product main photo -->
                <!-- product inside carousel -->
                <div class="carousel-inside slide" data-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <a href="#"><img class="product-image-photo" src="images/products/product-20.jpg" alt=""></a>
                    </div>
                    <div class="item">
                      <a href="#"><img class="product-image-photo" src="images/products/product-20-1.jpg" alt=""></a>
                    </div>
                    <div class="item">
                      <a href="#"><img class="product-image-photo" src="images/products/product-20-2.jpg" alt=""></a>
                    </div>
                  </div>
                  <a class="carousel-control next"></a>
                  <a class="carousel-control prev"></a>
                </div>
                <!-- /product inside carousel -->
                <a href="quick-view.html" title="Quick View" class="quick-view-link quick-view-btn"> <i class="icon icon-eye"></i><span>Quick View</span></a>
                <!-- /product main photo  -->
                <!-- Product Actions -->
                <a href="#" title="Add to Wishlist" class="no_wishlist"> <i class="icon icon-heart"></i><span>Add to Wishlist</span> </a>
                <div class="product-item-actions">
                  <div class="share-button toBottom">
                    <span class="toggle"></span>
                    <ul class="social-list">
                      <li>
                        <a href="#" class="icon icon-google google"></a>
                      </li>
                      <li>
                        <a href="#" class="icon icon-fancy fancy"></a>
                      </li>
                      <li>
                        <a href="#" class="icon icon-pinterest pinterest"></a>
                      </li>
                      <li>
                        <a href="#" class="icon icon-twitter-logo twitter"></a>
                      </li>
                      <li>
                        <a href="#" class="icon icon-facebook-logo facebook"></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- /Product Actions -->
              </div>
              <!-- /Product Photo -->
              <!-- Product Details -->
              <div class="product-item-details">
                <div class="product-item-name"> <a title="Lace back mini dress" href="product.html" class="product-item-link">Lace back mini dress</a> </div>
                <div class="product-item-description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore</div>
                <div class="price-box"> <span class="price-container"> <span class="price-wrapper"><span class="price">$239.00</span> </span>
                  </span>
                </div>
                <div class="product-item-rating"> <i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i></div>
                <button class="btn add-to-cart" data-product="789123"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
              </div>
              <!-- /Product Details -->
            </div>
          </div>
        </div>
        <!-- /Product Item -->
        <!-- Product Item -->
        <div class="product-item large category2">
          <div class="product-item-inside">
            <div class="product-item-info">
              <!-- Product Photo -->
              <div class="product-item-photo">
                <!-- Product Label -->
                <div class="product-item-label label-sale"><span>-20%</span></div>
                <!-- /Product Label -->
                <div class="product-item-gallery">
                  <!-- product main photo -->
                  <!-- product inside carousel -->
                  <div class="carousel-inside slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                      <div class="item active">
                        <a href="#"><img class="product-image-photo" src="images/products/product-26.jpg" alt=""></a>
                      </div>
                      <div class="item">
                        <a href="#"><img class="product-image-photo" src="images/products/product-26-1.jpg" alt=""></a>
                      </div>
                      <div class="item">
                        <a href="#"><img class="product-image-photo" src="images/products/product-26-2.jpg" alt=""></a>
                      </div>
                    </div>
                    <a class="carousel-control next"></a>
                    <a class="carousel-control prev"></a>
                  </div>
                  <!-- /product inside carousel -->
                  <a href="quick-view.html" title="Quick View" class="quick-view-link quick-view-btn"> <i class="icon icon-eye"></i><span>Quick View</span></a>
                  <!-- /product main photo  -->
                </div>
                <div class="countdown-box hidden-xs">
                  <div class="countdown-wrapper">
                    <div class="countdown-title">special price expires in</div>
                    <div class="countdown" data-promoperiod="100000000"></div>
                  </div>
                </div>
                <!-- Product Actions -->
                <!-- Product Actions -->
                <a href="#" title="Add to Wishlist" class="no_wishlist"> <i class="icon icon-heart"></i><span>Add to Wishlist</span> </a>
                <div class="product-item-actions">
                  <div class="share-button toBottom">
                    <span class="toggle"></span>
                    <ul class="social-list">
                      <li>
                        <a href="#" class="icon icon-google google"></a>
                      </li>
                      <li>
                        <a href="#" class="icon icon-fancy fancy"></a>
                      </li>
                      <li>
                        <a href="#" class="icon icon-pinterest pinterest"></a>
                      </li>
                      <li>
                        <a href="#" class="icon icon-twitter-logo twitter"></a>
                      </li>
                      <li>
                        <a href="#" class="icon icon-facebook-logo facebook"></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- /Product Actions -->
              </div>
              <!-- /Product Photo -->
              <!-- Product Details -->
              <div class="product-item-details">
                <div class="product-item-name"> <a title="Grey T-shirt fashion Sportex" href="product.html" class="product-item-link">Grey T-shirt fashion Sportex</a> </div>
                <div class="product-item-description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore</div>
                <div class="price-box"> <span class="price-container"> <span class="price-wrapper"> <span class="old-price">$300.00</span> <span class="special-price">$249.00</span> </span>
                  </span>
                </div>
                <div class="product-item-rating"> <i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i></div>
                <button class="btn add-to-cart" data-product="789123"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
              </div>
              <!-- /Product Details -->
            </div>
          </div>
        </div>
        <!-- /Product Item -->
        <!-- Product Item -->
        <div class="product-item  large category1 category2">
          <div class="product-item-inside">
            <div class="product-item-info">
              <!-- Product Photo -->
              <div class="product-item-photo">
                <!-- Product Label -->
                <div class="product-item-label label-new"><span>New</span></div>
                <div class="product-item-label label-sale"><span>-20%</span></div>
                <!-- /Product Label -->
                <!-- product main photo -->
                <!-- product inside carousel -->
                <div class="carousel-inside slide" data-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <a href="#"><img class="product-image-photo" src="images/products/product-25.jpg" alt=""></a>
                    </div>
                    <div class="item">
                      <a href="#"><img class="product-image-photo" src="images/products/product-25-1.jpg" alt=""></a>
                    </div>
                  </div>
                  <a class="carousel-control next"></a>
                  <a class="carousel-control prev"></a>
                </div>
                <!-- /product inside carousel -->
                <a href="quick-view.html" title="Quick View" class="quick-view-link quick-view-btn"> <i class="icon icon-eye"></i><span>Quick View</span></a>
                <!-- /product main photo  -->
                <div class="countdown-box hidden-xs">
                  <div class="countdown-wrapper">
                    <div class="countdown-title">special price expires in</div>
                    <div class="countdown" data-promodate="2016/12/01"></div>
                  </div>
                </div>
                <!-- Product Actions -->
                <a href="#" title="Add to Wishlist" class="no_wishlist"> <i class="icon icon-heart"></i><span>Add to Wishlist</span> </a>
                <div class="product-item-actions">
                  <div class="share-button toBottom">
                    <span class="toggle"></span>
                    <ul class="social-list">
                      <li>
                        <a href="#" class="icon icon-google google"></a>
                      </li>
                      <li>
                        <a href="#" class="icon icon-fancy fancy"></a>
                      </li>
                      <li>
                        <a href="#" class="icon icon-pinterest pinterest"></a>
                      </li>
                      <li>
                        <a href="#" class="icon icon-twitter-logo twitter"></a>
                      </li>
                      <li>
                        <a href="#" class="icon icon-facebook-logo facebook"></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- /Product Actions -->
              </div>
              <!-- /Product Photo -->
              <!-- Product Details -->
              <div class="product-item-details">
                <div class="product-item-name"> <a title="Mesh bodycon dress" href="product.html" class="product-item-link">Mesh bodycon dress</a> </div>
                <div class="product-item-description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore</div>
                <div class="price-box"> <span class="price-container"> <span class="price-wrapper"> <span class="old-price">$290.00</span> <span class="special-price">$229.00</span> </span>
                  </span>
                </div>
                <div class="product-item-rating"> <i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i></div>
                <button class="btn add-to-cart" data-product="789123"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
              </div>
              <!-- /Product Details -->
            </div>
          </div>
        </div>
        <!-- /Product Item -->
        <!-- Product Item -->
        <div class="product-item  large">
          <div class="product-item-inside">
            <div class="product-item-info">
              <!-- Product Photo -->
              <div class="product-item-photo">
                <div class="product-item-gallery">
                  <!-- product main photo -->
                  <!-- product inside carousel -->
                  <div class="carousel-inside slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                      <div class="item active">
                        <a href="#"><img class="product-image-photo" src="images/products/product-18.jpg" alt=""></a>
                      </div>
                      <div class="item">
                        <a href="#"><img class="product-image-photo" src="images/products/product-18-1.jpg" alt=""></a>
                      </div>
                    </div>
                    <a class="carousel-control next"></a>
                    <a class="carousel-control prev"></a>
                  </div>
                  <!-- /product inside carousel -->
                  <a href="quick-view.html" title="Quick View" class="quick-view-link quick-view-btn"> <i class="icon icon-eye"></i><span>Quick View</span></a>
                  <!-- /product main photo  -->
                </div>
                <!-- Product Actions -->
                <a href="#" title="Add to Wishlist" class="no_wishlist"> <i class="icon icon-heart"></i><span>Add to Wishlist</span> </a>
                <div class="product-item-actions">
                  <div class="share-button toBottom">
                    <span class="toggle"></span>
                    <ul class="social-list">
                      <li>
                        <a href="#" class="icon icon-google google"></a>
                      </li>
                      <li>
                        <a href="#" class="icon icon-fancy fancy"></a>
                      </li>
                      <li>
                        <a href="#" class="icon icon-pinterest pinterest"></a>
                      </li>
                      <li>
                        <a href="#" class="icon icon-twitter-logo twitter"></a>
                      </li>
                      <li>
                        <a href="#" class="icon icon-facebook-logo facebook"></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- /Product Actions -->
              </div>
              <!-- /Product Photo -->
              <!-- Product Details -->
              <div class="product-item-details">
                <div class="product-item-name"> <a title="Backless mini dress" href="product.html" class="product-item-link">Backless mini dress</a> </div>
                <div class="product-item-description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore</div>
                <div class="price-box"> <span class="price-container"> <span class="price-wrapper"> <span class="price">$89.00</span></span>
                  </span>
                </div>
                <div class="product-item-rating"> <i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i></div>
                <button class="btn add-to-cart" data-product="789123"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
              </div>
              <!-- /Product Details -->
            </div>
          </div>
        </div>
        <!-- /Product Item -->
        <!-- Product Item -->
        <div class="product-item large category1">
          <div class="product-item-inside">
            <div class="product-item-info">
              <!-- Product Photo -->
              <div class="product-item-photo">
                <!-- Product Label -->
                <div class="product-item-label label-new"><span>New</span></div>
                <!-- /Product Label -->
                <div class="product-item-gallery">
                  <!-- product main photo -->
                  <div class="product-item-gallery-main">
                    <a href="#"><img class="product-image-photo" src="images/products/product-10.jpg" alt=""></a>
                    <a href="quick-view.html" title="Quick View" class="quick-view-link quick-view-btn"> <i class="icon icon-eye"></i><span>Quick View</span></a>
                  </div>
                  <!-- /product main photo  -->
                </div>
                <!-- Product Actions -->
                <a href="#" title="Add to Wishlist" class="no_wishlist"> <i class="icon icon-heart"></i><span>Add to Wishlist</span> </a>
                <div class="product-item-actions">
                  <div class="share-button toBottom">
                    <span class="toggle"></span>
                    <ul class="social-list">
                      <li>
                        <a href="#" class="icon icon-google google"></a>
                      </li>
                      <li>
                        <a href="#" class="icon icon-fancy fancy"></a>
                      </li>
                      <li>
                        <a href="#" class="icon icon-pinterest pinterest"></a>
                      </li>
                      <li>
                        <a href="#" class="icon icon-twitter-logo twitter"></a>
                      </li>
                      <li>
                        <a href="#" class="icon icon-facebook-logo facebook"></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- /Product Actions -->
              </div>
              <!-- /Product Photo -->
              <!-- Product Details -->
              <div class="product-item-details">
                <div class="product-item-name"> <a title="Longline  asymmetric midi skirt" href="product.html" class="product-item-link">Longline  asymmetric midi skirt</a> </div>
                <div class="product-item-description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore</div>
                <div class="price-box"> <span class="price-container"> <span class="price-wrapper"> <span class="price">$210.00</span></span>
                  </span>
                </div>
                <div class="product-item-rating"> <i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i></div>
                <button class="btn add-to-cart" data-product="789123"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
              </div>
              <!-- /Product Details -->
            </div>
          </div>
        </div>
        <!-- /Product Item -->
        <!-- Product Item -->
        <div class="product-item  large category1">
          <div class="product-item-inside">
            <div class="product-item-info">
              <!-- Product Photo -->
              <div class="product-item-photo">
                <!-- Product Label -->
                <div class="product-item-label label-new"><span>New</span></div>
                <!-- /Product Label -->
                <!-- product main photo -->
                <!-- product inside carousel -->
                <div class="carousel-inside slide" data-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <a href="#"><img class="product-image-photo" src="images/products/product-17.jpg" alt=""></a>
                    </div>
                    <div class="item">
                      <a href="#"><img class="product-image-photo" src="images/products/product-17-1.jpg" alt=""></a>
                    </div>
                    <div class="item">
                      <a href="#"><img class="product-image-photo" src="images/products/product-17-2.jpg" alt=""></a>
                    </div>
                  </div>
                  <a class="carousel-control next"></a>
                  <a class="carousel-control prev"></a>
                </div>
                <!-- /product inside carousel -->
                <a href="quick-view.html" title="Quick View" class="quick-view-link quick-view-btn"> <i class="icon icon-eye"></i><span>Quick View</span></a>
                <a href="product.html" class="product-item-not-available">
                  <span class="vert-wrapper"><span class="vert"><span class="text">Not Available</span></span>
                  </span>
                </a>
                <!-- /product main photo  -->
                <!-- Product Actions -->
                <a href="#" title="Add to Wishlist" class="no_wishlist"> <i class="icon icon-heart"></i><span>Add to Wishlist</span> </a>
                <div class="product-item-actions">
                  <div class="share-button toBottom">
                    <span class="toggle"></span>
                    <ul class="social-list">
                      <li>
                        <a href="#" class="icon icon-google google"></a>
                      </li>
                      <li>
                        <a href="#" class="icon icon-fancy fancy"></a>
                      </li>
                      <li>
                        <a href="#" class="icon icon-pinterest pinterest"></a>
                      </li>
                      <li>
                        <a href="#" class="icon icon-twitter-logo twitter"></a>
                      </li>
                      <li>
                        <a href="#" class="icon icon-facebook-logo facebook"></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- /Product Actions -->
              </div>
              <!-- /Product Photo -->
              <!-- Product Details -->
              <div class="product-item-details">
                <div class="product-item-name"> <a title="Floral sleeveless dress" href="product.html" class="product-item-link">Floral sleeveless dress</a> </div>
                <div class="product-item-description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore</div>
                <div class="price-box"> <span class="price-container"> <span class="price-wrapper"> <span class="price">$289.00</span> </span>
                  </span>
                </div>
                <div class="product-item-rating"> <i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i></div>
                <button class="btn add-to-cart" data-product="789123"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
              </div>
              <!-- /Product Details -->
            </div>
          </div>
        </div>
        <!-- /Product Item -->
        <!-- Product Item -->
        <div class="product-item large category2">
          <div class="product-item-inside">
            <div class="product-item-info">
              <!-- Product Photo -->
              <div class="product-item-photo">
                <!-- Product Label -->
                <div class="product-item-label label-sale"><span>-50%</span></div>
                <!-- /Product Label -->
                <div class="product-item-gallery">
                  <!-- product main photo -->
                  <div class="product-item-gallery-main">
                    <a href="#"><img class="product-image-photo" src="images/products/product-27.jpg" alt=""></a>
                    <a href="quick-view.html" title="Quick View" class="quick-view-link quick-view-btn"> <i class="icon icon-eye"></i><span>Quick View</span></a>
                  </div>
                  <!-- /product main photo  -->
                </div>
                <div class="countdown-box hidden-xs">
                  <div class="countdown-wrapper">
                    <div class="countdown-title">special price expires in</div>
                    <div class="countdown" data-promoperiod="150000000"></div>
                  </div>
                </div>
                <!-- Product Actions -->
                <a href="#" title="Add to Wishlist" class="no_wishlist"> <i class="icon icon-heart"></i><span>Add to Wishlist</span> </a>
                <div class="product-item-actions">
                  <div class="share-button toBottom">
                    <span class="toggle"></span>
                    <ul class="social-list">
                      <li>
                        <a href="#" class="icon icon-google google"></a>
                      </li>
                      <li>
                        <a href="#" class="icon icon-fancy fancy"></a>
                      </li>
                      <li>
                        <a href="#" class="icon icon-pinterest pinterest"></a>
                      </li>
                      <li>
                        <a href="#" class="icon icon-twitter-logo twitter"></a>
                      </li>
                      <li>
                        <a href="#" class="icon icon-facebook-logo facebook"></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- /Product Actions -->
              </div>
              <!-- /Product Photo -->
              <!-- Product Details -->
              <div class="product-item-details">
                <div class="product-item-name"> <a title="Athletic T-Shirt" href="product.html" class="product-item-link">Athletic T-Shirt</a> </div>
                <div class="product-item-description">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia nonkdni numquam eius modi tempora incidunt ut labore</div>
                <div class="price-box"> <span class="price-container"> <span class="price-wrapper"> <span class="old-price">$420.00</span> <span class="special-price">$210.00</span> </span>
                  </span>
                </div>
                <div class="product-item-rating"> <i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i><i class="icon icon-star-fill"></i></div>
                <button class="btn add-to-cart" data-product="789123"> <i class="icon icon-cart"></i><span>Add to Cart</span> </button>
              </div>
              <!-- /Product Details -->
            </div>
          </div>
        </div>
        <!-- /Product Item -->
      </div>

    </div>
  </div>

</main>
